In [1]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#load the data
train_data =pd.read_csv("C:\\Users\\HOME\\Desktop\\Mercedes-Benz Case Study\\train\\train.csv")
test_data =pd.read_csv("C:\\Users\\HOME\\Desktop\\Mercedes-Benz Case Study\\test\\test.csv")

In [3]:
print("Train data {}".format(train_data.shape))
print("Test data {}".format(test_data.shape))

Train data (4209, 378)
Test data (4209, 377)

In [4]:
train_data.head(5)

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [5]:
test_data.head(5)

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [6]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [7]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 377 entries, ID to X385
dtypes: int64(369), object(8)
memory usage: 12.1+ MB

In [8]:
print("Check NaN in Dataframe" , train_data.isnull(), sep='\n')
print("***Count all NaN in a DataFrame (both columns & Rows)***")
print("Total NaN in Dataframe" , train_data.isnull().sum().sum(), sep='\n')
print("***Count NaN in each column of a DataFrame***")
print("Nan in each columns" , train_data.isnull().sum(), sep='\n')

Check NaN in Dataframe
         ID      y     X0     X1     X2     X3     X4     X5     X6     X8  \
0     False  False  False  False  False  False  False  False  False  False
1     False  False  False  False  False  False  False  False  False  False
2     False  False  False  False  False  False  False  False  False  False
3     False  False  False  False  False  False  False  False  False  False
4     False  False  False  False  False  False  False  False  False  False
5     False  False  False  False  False  False  False  False  False  False
6     False  False  False  False  False  False  False  False  False  False
7     False  False  False  False  False  False  False  False  False  False
8     False  False  False  False  False  False  False  False  False  False
9     False  False  False  False  False  False  False  False  False  False
10    False  False  False  False  False  False  False  False  False  False
11    False  False  False  False  False  False  False  False  False  False
12    False  False  False  False  False  False  False  False  False  False
13    False  False  False  False  False  False  False  False  False  False
14    False  False  False  False  False  False  False  False  False  False
15    False  False  False  False  False  False  False  False  False  False
16    False  False  False  False  False  False  False  False  False  False
17    False  False  False  False  False  False  False  False  False  False
18    False  False  False  False  False  False  False  False  False  False
19    False  False  False  False  False  False  False  False  False  False
20    False  False  False  False  False  False  False  False  False  False
21    False  False  False  False  False  False  False  False  False  False
22    False  False  False  False  False  False  False  False  False  False
23    False  False  False  False  False  False  False  False  False  False
24    False  False  False  False  False  False  False  False  False  False
25    False  False  False  False  False  False  False  False  False  False
26    False  False  False  False  False  False  False  False  False  False
27    False  False  False  False  False  False  False  False  False  False
28    False  False  False  False  False  False  False  False  False  False
29    False  False  False  False  False  False  False  False  False  False
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
4179  False  False  False  False  False  False  False  False  False  False
4180  False  False  False  False  False  False  False  False  False  False
4181  False  False  False  False  False  False  False  False  False  False
4182  False  False  False  False  False  False  False  False  False  False
4183  False  False  False  False  False  False  False  False  False  False
4184  False  False  False  False  False  False  False  False  False  False
4185  False  False  False  False  False  False  False  False  False  False
4186  False  False  False  False  False  False  False  False  False  False
4187  False  False  False  False  False  False  False  False  False  False
4188  False  False  False  False  False  False  False  False  False  False
4189  False  False  False  False  False  False  False  False  False  False
4190  False  False  False  False  False  False  False  False  False  False
4191  False  False  False  False  False  False  False  False  False  False
4192  False  False  False  False  False  False  False  False  False  False
4193  False  False  False  False  False  False  False  False  False  False
4194  False  False  False  False  False  False  False  False  False  False
4195  False  False  False  False  False  False  False  False  False  False
4196  False  False  False  False  False  False  False  False  False  False
4197  False  False  False  False  False  False  False  False  False  False
4198  False  False  False  False  False  False  False  False  False  False
4199  False  False  False  False  False  False  False  False  False  False
4200  False  False  False  False  False  False  False  False  False  False
4201  False  False  False  False  False  False  False  False  False  False
4202  False  False  False  False  False  False  False  False  False  False
4203  False  False  False  False  False  False  False  False  False  False
4204  False  False  False  False  False  False  False  False  False  False
4205  False  False  False  False  False  False  False  False  False  False
4206  False  False  False  False  False  False  False  False  False  False
4207  False  False  False  False  False  False  False  False  False  False
4208  False  False  False  False  False  False  False  False  False  False

      ...   X375   X376   X377   X378   X379   X380   X382   X383   X384  \
0     ...  False  False  False  False  False  False  False  False  False
1     ...  False  False  False  False  False  False  False  False  False
2     ...  False  False  False  False  False  False  False  False  False
3     ...  False  False  False  False  False  False  False  False  False
4     ...  False  False  False  False  False  False  False  False  False
5     ...  False  False  False  False  False  False  False  False  False
6     ...  False  False  False  False  False  False  False  False  False
7     ...  False  False  False  False  False  False  False  False  False
8     ...  False  False  False  False  False  False  False  False  False
9     ...  False  False  False  False  False  False  False  False  False
10    ...  False  False  False  False  False  False  False  False  False
11    ...  False  False  False  False  False  False  False  False  False
12    ...  False  False  False  False  False  False  False  False  False
13    ...  False  False  False  False  False  False  False  False  False
14    ...  False  False  False  False  False  False  False  False  False
15    ...  False  False  False  False  False  False  False  False  False
16    ...  False  False  False  False  False  False  False  False  False
17    ...  False  False  False  False  False  False  False  False  False
18    ...  False  False  False  False  False  False  False  False  False
19    ...  False  False  False  False  False  False  False  False  False
20    ...  False  False  False  False  False  False  False  False  False
21    ...  False  False  False  False  False  False  False  False  False
22    ...  False  False  False  False  False  False  False  False  False
23    ...  False  False  False  False  False  False  False  False  False
24    ...  False  False  False  False  False  False  False  False  False
25    ...  False  False  False  False  False  False  False  False  False
26    ...  False  False  False  False  False  False  False  False  False
27    ...  False  False  False  False  False  False  False  False  False
28    ...  False  False  False  False  False  False  False  False  False
29    ...  False  False  False  False  False  False  False  False  False
...   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
4179  ...  False  False  False  False  False  False  False  False  False
4180  ...  False  False  False  False  False  False  False  False  False
4181  ...  False  False  False  False  False  False  False  False  False
4182  ...  False  False  False  False  False  False  False  False  False
4183  ...  False  False  False  False  False  False  False  False  False
4184  ...  False  False  False  False  False  False  False  False  False
4185  ...  False  False  False  False  False  False  False  False  False
4186  ...  False  False  False  False  False  False  False  False  False
4187  ...  False  False  False  False  False  False  False  False  False
4188  ...  False  False  False  False  False  False  False  False  False
4189  ...  False  False  False  False  False  False  False  False  False
4190  ...  False  False  False  False  False  False  False  False  False
4191  ...  False  False  False  False  False  False  False  False  False
4192  ...  False  False  False  False  False  False  False  False  False
4193  ...  False  False  False  False  False  False  False  False  False
4194  ...  False  False  False  False  False  False  False  False  False
4195  ...  False  False  False  False  False  False  False  False  False
4196  ...  False  False  False  False  False  False  False  False  False
4197  ...  False  False  False  False  False  False  False  False  False
4198  ...  False  False  False  False  False  False  False  False  False
4199  ...  False  False  False  False  False  False  False  False  False
4200  ...  False  False  False  False  False  False  False  False  False
4201  ...  False  False  False  False  False  False  False  False  False
4202  ...  False  False  False  False  False  False  False  False  False
4203  ...  False  False  False  False  False  False  False  False  False
4204  ...  False  False  False  False  False  False  False  False  False
4205  ...  False  False  False  False  False  False  False  False  False
4206  ...  False  False  False  False  False  False  False  False  False
4207  ...  False  False  False  False  False  False  False  False  False
4208  ...  False  False  False  False  False  False  False  False  False

       X385
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
...     ...
4179  False
4180  False
4181  False
4182  False
4183  False
4184  False
4185  False
4186  False
4187  False
4188  False
4189  False
4190  False
4191  False
4192  False
4193  False
4194  False
4195  False
4196  False
4197  False
4198  False
4199  False
4200  False
4201  False
4202  False
4203  False
4204  False
4205  False
4206  False
4207  False
4208  False

[4209 rows x 378 columns]
***Count all NaN in a DataFrame (both columns & Rows)***
Total NaN in Dataframe
0
***Count NaN in each column of a DataFrame***
Nan in each columns
ID      0
y       0
X0      0
X1      0
X2      0
X3      0
X4      0
X5      0
X6      0
X8      0
X10     0
X11     0
X12     0
X13     0
X14     0
X15     0
X16     0
X17     0
X18     0
X19     0
X20     0
X21     0
X22     0
X23     0
X24     0
X26     0
X27     0
X28     0
X29     0
X30     0
       ..
X355    0
X356    0
X357    0
X358    0
X359    0
X360    0
X361    0
X362    0
X363    0
X364    0
X365    0
X366    0
X367    0
X368    0
X369    0
X370    0
X371    0
X372    0
X373    0
X374    0
X375    0
X376    0
X377    0
X378    0
X379    0
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 378, dtype: int64

In [9]:
print("***Count NaN in each row of a DataFrame***")
for i in range(len(train_data.index)) :
    print("Nan in row ", i , " : " ,  train_data.iloc[i].isnull().sum())

***Count NaN in each row of a DataFrame***
Nan in row  0  :  0
Nan in row  1  :  0
Nan in row  2  :  0
Nan in row  3  :  0
Nan in row  4  :  0
Nan in row  5  :  0
Nan in row  6  :  0
Nan in row  7  :  0
Nan in row  8  :  0
Nan in row  9  :  0
Nan in row  10  :  0
Nan in row  11  :  0
Nan in row  12  :  0
Nan in row  13  :  0
Nan in row  14  :  0
Nan in row  15  :  0
Nan in row  16  :  0
Nan in row  17  :  0
Nan in row  18  :  0
Nan in row  19  :  0
Nan in row  20  :  0
Nan in row  21  :  0
Nan in row  22  :  0
Nan in row  23  :  0
Nan in row  24  :  0
Nan in row  25  :  0
Nan in row  26  :  0
Nan in row  27  :  0
Nan in row  28  :  0
Nan in row  29  :  0
Nan in row  30  :  0
Nan in row  31  :  0
Nan in row  32  :  0
Nan in row  33  :  0
Nan in row  34  :  0
Nan in row  35  :  0
Nan in row  36  :  0
Nan in row  37  :  0
Nan in row  38  :  0
Nan in row  39  :  0
Nan in row  40  :  0
Nan in row  41  :  0
Nan in row  42  :  0
Nan in row  43  :  0
Nan in row  44  :  0
Nan in row  45  :  0
Nan in row  46  :  0
Nan in row  47  :  0
Nan in row  48  :  0
Nan in row  49  :  0
Nan in row  50  :  0
Nan in row  51  :  0
Nan in row  52  :  0
Nan in row  53  :  0
Nan in row  54  :  0
Nan in row  55  :  0
Nan in row  56  :  0
Nan in row  57  :  0
Nan in row  58  :  0
Nan in row  59  :  0
Nan in row  60  :  0
Nan in row  61  :  0
Nan in row  62  :  0
Nan in row  63  :  0
Nan in row  64  :  0
Nan in row  65  :  0
Nan in row  66  :  0
Nan in row  67  :  0
Nan in row  68  :  0
Nan in row  69  :  0
Nan in row  70  :  0
Nan in row  71  :  0
Nan in row  72  :  0
Nan in row  73  :  0
Nan in row  74  :  0
Nan in row  75  :  0
Nan in row  76  :  0
Nan in row  77  :  0
Nan in row  78  :  0
Nan in row  79  :  0
Nan in row  80  :  0
Nan in row  81  :  0
Nan in row  82  :  0
Nan in row  83  :  0
Nan in row  84  :  0
Nan in row  85  :  0
Nan in row  86  :  0
Nan in row  87  :  0
Nan in row  88  :  0
Nan in row  89  :  0
Nan in row  90  :  0
Nan in row  91  :  0
Nan in row  92  :  0
Nan in row  93  :  0
Nan in row  94  :  0
Nan in row  95  :  0
Nan in row  96  :  0
Nan in row  97  :  0
Nan in row  98  :  0
Nan in row  99  :  0
Nan in row  100  :  0
Nan in row  101  :  0
Nan in row  102  :  0
Nan in row  103  :  0
Nan in row  104  :  0
Nan in row  105  :  0
Nan in row  106  :  0
Nan in row  107  :  0
Nan in row  108  :  0
Nan in row  109  :  0
Nan in row  110  :  0
Nan in row  111  :  0
Nan in row  112  :  0
Nan in row  113  :  0
Nan in row  114  :  0
Nan in row  115  :  0
Nan in row  116  :  0
Nan in row  117  :  0
Nan in row  118  :  0
Nan in row  119  :  0
Nan in row  120  :  0
Nan in row  121  :  0
Nan in row  122  :  0
Nan in row  123  :  0
Nan in row  124  :  0
Nan in row  125  :  0
Nan in row  126  :  0
Nan in row  127  :  0
Nan in row  128  :  0
Nan in row  129  :  0
Nan in row  130  :  0
Nan in row  131  :  0
Nan in row  132  :  0
Nan in row  133  :  0
Nan in row  134  :  0
Nan in row  135  :  0
Nan in row  136  :  0
Nan in row  137  :  0
Nan in row  138  :  0
Nan in row  139  :  0
Nan in row  140  :  0
Nan in row  141  :  0
Nan in row  142  :  0
Nan in row  143  :  0
Nan in row  144  :  0
Nan in row  145  :  0
Nan in row  146  :  0
Nan in row  147  :  0
Nan in row  148  :  0
Nan in row  149  :  0
Nan in row  150  :  0
Nan in row  151  :  0
Nan in row  152  :  0
Nan in row  153  :  0
Nan in row  154  :  0
Nan in row  155  :  0
Nan in row  156  :  0
Nan in row  157  :  0
Nan in row  158  :  0
Nan in row  159  :  0
Nan in row  160  :  0
Nan in row  161  :  0
Nan in row  162  :  0
Nan in row  163  :  0
Nan in row  164  :  0
Nan in row  165  :  0
Nan in row  166  :  0
Nan in row  167  :  0
Nan in row  168  :  0
Nan in row  169  :  0
Nan in row  170  :  0
Nan in row  171  :  0
Nan in row  172  :  0
Nan in row  173  :  0
Nan in row  174  :  0
Nan in row  175  :  0
Nan in row  176  :  0
Nan in row  177  :  0
Nan in row  178  :  0
Nan in row  179  :  0
Nan in row  180  :  0
Nan in row  181  :  0
Nan in row  182  :  0
Nan in row  183  :  0
Nan in row  184  :  0
Nan in row  185  :  0
Nan in row  186  :  0
Nan in row  187  :  0
Nan in row  188  :  0
Nan in row  189  :  0
Nan in row  190  :  0
Nan in row  191  :  0
Nan in row  192  :  0
Nan in row  193  :  0
Nan in row  194  :  0
Nan in row  195  :  0
Nan in row  196  :  0
Nan in row  197  :  0
Nan in row  198  :  0
Nan in row  199  :  0
Nan in row  200  :  0
Nan in row  201  :  0
Nan in row  202  :  0
Nan in row  203  :  0
Nan in row  204  :  0
Nan in row  205  :  0
Nan in row  206  :  0
Nan in row  207  :  0
Nan in row  208  :  0
Nan in row  209  :  0
Nan in row  210  :  0
Nan in row  211  :  0
Nan in row  212  :  0
Nan in row  213  :  0
Nan in row  214  :  0
Nan in row  215  :  0
Nan in row  216  :  0
Nan in row  217  :  0
Nan in row  218  :  0
Nan in row  219  :  0
Nan in row  220  :  0
Nan in row  221  :  0
Nan in row  222  :  0
Nan in row  223  :  0
Nan in row  224  :  0
Nan in row  225  :  0
Nan in row  226  :  0
Nan in row  227  :  0
Nan in row  228  :  0
Nan in row  229  :  0
Nan in row  230  :  0
Nan in row  231  :  0
Nan in row  232  :  0
Nan in row  233  :  0
Nan in row  234  :  0
Nan in row  235  :  0
Nan in row  236  :  0
Nan in row  237  :  0
Nan in row  238  :  0
Nan in row  239  :  0
Nan in row  240  :  0
Nan in row  241  :  0
Nan in row  242  :  0
Nan in row  243  :  0
Nan in row  244  :  0
Nan in row  245  :  0
Nan in row  246  :  0
Nan in row  247  :  0
Nan in row  248  :  0
Nan in row  249  :  0
Nan in row  250  :  0
Nan in row  251  :  0
Nan in row  252  :  0
Nan in row  253  :  0
Nan in row  254  :  0
Nan in row  255  :  0
Nan in row  256  :  0
Nan in row  257  :  0
Nan in row  258  :  0
Nan in row  259  :  0
Nan in row  260  :  0
Nan in row  261  :  0
Nan in row  262  :  0
Nan in row  263  :  0
Nan in row  264  :  0
Nan in row  265  :  0
Nan in row  266  :  0
Nan in row  267  :  0
Nan in row  268  :  0
Nan in row  269  :  0
Nan in row  270  :  0
Nan in row  271  :  0
Nan in row  272  :  0
Nan in row  273  :  0
Nan in row  274  :  0
Nan in row  275  :  0
Nan in row  276  :  0
Nan in row  277  :  0
Nan in row  278  :  0
Nan in row  279  :  0
Nan in row  280  :  0
Nan in row  281  :  0
Nan in row  282  :  0
Nan in row  283  :  0
Nan in row  284  :  0
Nan in row  285  :  0
Nan in row  286  :  0
Nan in row  287  :  0
Nan in row  288  :  0
Nan in row  289  :  0
Nan in row  290  :  0
Nan in row  291  :  0
Nan in row  292  :  0
Nan in row  293  :  0
Nan in row  294  :  0
Nan in row  295  :  0
Nan in row  296  :  0
Nan in row  297  :  0
Nan in row  298  :  0
Nan in row  299  :  0
Nan in row  300  :  0
Nan in row  301  :  0
Nan in row  302  :  0
Nan in row  303  :  0
Nan in row  304  :  0
Nan in row  305  :  0
Nan in row  306  :  0
Nan in row  307  :  0
Nan in row  308  :  0
Nan in row  309  :  0
Nan in row  310  :  0
Nan in row  311  :  0
Nan in row  312  :  0
Nan in row  313  :  0
Nan in row  314  :  0
Nan in row  315  :  0
Nan in row  316  :  0
Nan in row  317  :  0
Nan in row  318  :  0
Nan in row  319  :  0
Nan in row  320  :  0
Nan in row  321  :  0
Nan in row  322  :  0
Nan in row  323  :  0
Nan in row  324  :  0
Nan in row  325  :  0
Nan in row  326  :  0
Nan in row  327  :  0
Nan in row  328  :  0
Nan in row  329  :  0
Nan in row  330  :  0
Nan in row  331  :  0
Nan in row  332  :  0
Nan in row  333  :  0
Nan in row  334  :  0
Nan in row  335  :  0
Nan in row  336  :  0
Nan in row  337  :  0
Nan in row  338  :  0
Nan in row  339  :  0
Nan in row  340  :  0
Nan in row  341  :  0
Nan in row  342  :  0
Nan in row  343  :  0
Nan in row  344  :  0
Nan in row  345  :  0
Nan in row  346  :  0
Nan in row  347  :  0
Nan in row  348  :  0
Nan in row  349  :  0
Nan in row  350  :  0
Nan in row  351  :  0
Nan in row  352  :  0
Nan in row  353  :  0
Nan in row  354  :  0
Nan in row  355  :  0
Nan in row  356  :  0
Nan in row  357  :  0
Nan in row  358  :  0
Nan in row  359  :  0
Nan in row  360  :  0
Nan in row  361  :  0
Nan in row  362  :  0
Nan in row  363  :  0
Nan in row  364  :  0
Nan in row  365  :  0
Nan in row  366  :  0
Nan in row  367  :  0
Nan in row  368  :  0
Nan in row  369  :  0
Nan in row  370  :  0
Nan in row  371  :  0
Nan in row  372  :  0
Nan in row  373  :  0
Nan in row  374  :  0
Nan in row  375  :  0
Nan in row  376  :  0
Nan in row  377  :  0
Nan in row  378  :  0
Nan in row  379  :  0
Nan in row  380  :  0
Nan in row  381  :  0
Nan in row  382  :  0
Nan in row  383  :  0
Nan in row  384  :  0
Nan in row  385  :  0
Nan in row  386  :  0
Nan in row  387  :  0
Nan in row  388  :  0
Nan in row  389  :  0
Nan in row  390  :  0
Nan in row  391  :  0
Nan in row  392  :  0
Nan in row  393  :  0
Nan in row  394  :  0
Nan in row  395  :  0
Nan in row  396  :  0
Nan in row  397  :  0
Nan in row  398  :  0
Nan in row  399  :  0
Nan in row  400  :  0
Nan in row  401  :  0
Nan in row  402  :  0
Nan in row  403  :  0
Nan in row  404  :  0
Nan in row  405  :  0
Nan in row  406  :  0
Nan in row  407  :  0
Nan in row  408  :  0
Nan in row  409  :  0
Nan in row  410  :  0
Nan in row  411  :  0
Nan in row  412  :  0
Nan in row  413  :  0
Nan in row  414  :  0
Nan in row  415  :  0
Nan in row  416  :  0
Nan in row  417  :  0
Nan in row  418  :  0
Nan in row  419  :  0
Nan in row  420  :  0
Nan in row  421  :  0
Nan in row  422  :  0
Nan in row  423  :  0
Nan in row  424  :  0
Nan in row  425  :  0
Nan in row  426  :  0
Nan in row  427  :  0
Nan in row  428  :  0
Nan in row  429  :  0
Nan in row  430  :  0

Nan in row  431  :  0
Nan in row  432  :  0
Nan in row  433  :  0
Nan in row  434  :  0
Nan in row  435  :  0
Nan in row  436  :  0
Nan in row  437  :  0
Nan in row  438  :  0
Nan in row  439  :  0
Nan in row  440  :  0
Nan in row  441  :  0
Nan in row  442  :  0
Nan in row  443  :  0
Nan in row  444  :  0
Nan in row  445  :  0
Nan in row  446  :  0
Nan in row  447  :  0
Nan in row  448  :  0
Nan in row  449  :  0
Nan in row  450  :  0
Nan in row  451  :  0
Nan in row  452  :  0
Nan in row  453  :  0
Nan in row  454  :  0
Nan in row  455  :  0
Nan in row  456  :  0
Nan in row  457  :  0
Nan in row  458  :  0
Nan in row  459  :  0
Nan in row  460  :  0
Nan in row  461  :  0
Nan in row  462  :  0
Nan in row  463  :  0
Nan in row  464  :  0
Nan in row  465  :  0
Nan in row  466  :  0
Nan in row  467  :  0
Nan in row  468  :  0
Nan in row  469  :  0
Nan in row  470  :  0
Nan in row  471  :  0
Nan in row  472  :  0
Nan in row  473  :  0
Nan in row  474  :  0
Nan in row  475  :  0
Nan in row  476  :  0
Nan in row  477  :  0
Nan in row  478  :  0
Nan in row  479  :  0
Nan in row  480  :  0
Nan in row  481  :  0
Nan in row  482  :  0
Nan in row  483  :  0
Nan in row  484  :  0
Nan in row  485  :  0
Nan in row  486  :  0
Nan in row  487  :  0
Nan in row  488  :  0
Nan in row  489  :  0
Nan in row  490  :  0
Nan in row  491  :  0
Nan in row  492  :  0
Nan in row  493  :  0
Nan in row  494  :  0
Nan in row  495  :  0
Nan in row  496  :  0
Nan in row  497  :  0
Nan in row  498  :  0
Nan in row  499  :  0
Nan in row  500  :  0
Nan in row  501  :  0
Nan in row  502  :  0
Nan in row  503  :  0
Nan in row  504  :  0
Nan in row  505  :  0
Nan in row  506  :  0
Nan in row  507  :  0
Nan in row  508  :  0
Nan in row  509  :  0
Nan in row  510  :  0
Nan in row  511  :  0
Nan in row  512  :  0
Nan in row  513  :  0
Nan in row  514  :  0
Nan in row  515  :  0
Nan in row  516  :  0
Nan in row  517  :  0
Nan in row  518  :  0
Nan in row  519  :  0
Nan in row  520  :  0
Nan in row  521  :  0
Nan in row  522  :  0
Nan in row  523  :  0
Nan in row  524  :  0
Nan in row  525  :  0
Nan in row  526  :  0
Nan in row  527  :  0
Nan in row  528  :  0
Nan in row  529  :  0
Nan in row  530  :  0
Nan in row  531  :  0
Nan in row  532  :  0
Nan in row  533  :  0
Nan in row  534  :  0
Nan in row  535  :  0
Nan in row  536  :  0
Nan in row  537  :  0
Nan in row  538  :  0
Nan in row  539  :  0
Nan in row  540  :  0
Nan in row  541  :  0
Nan in row  542  :  0
Nan in row  543  :  0
Nan in row  544  :  0
Nan in row  545  :  0
Nan in row  546  :  0
Nan in row  547  :  0
Nan in row  548  :  0
Nan in row  549  :  0
Nan in row  550  :  0
Nan in row  551  :  0
Nan in row  552  :  0
Nan in row  553  :  0
Nan in row  554  :  0
Nan in row  555  :  0
Nan in row  556  :  0
Nan in row  557  :  0
Nan in row  558  :  0
Nan in row  559  :  0
Nan in row  560  :  0
Nan in row  561  :  0
Nan in row  562  :  0
Nan in row  563  :  0
Nan in row  564  :  0
Nan in row  565  :  0
Nan in row  566  :  0
Nan in row  567  :  0
Nan in row  568  :  0
Nan in row  569  :  0
Nan in row  570  :  0
Nan in row  571  :  0
Nan in row  572  :  0
Nan in row  573  :  0
Nan in row  574  :  0
Nan in row  575  :  0
Nan in row  576  :  0
Nan in row  577  :  0
Nan in row  578  :  0
Nan in row  579  :  0
Nan in row  580  :  0
Nan in row  581  :  0
Nan in row  582  :  0
Nan in row  583  :  0
Nan in row  584  :  0
Nan in row  585  :  0
Nan in row  586  :  0
Nan in row  587  :  0
Nan in row  588  :  0
Nan in row  589  :  0
Nan in row  590  :  0
Nan in row  591  :  0
Nan in row  592  :  0
Nan in row  593  :  0
Nan in row  594  :  0
Nan in row  595  :  0
Nan in row  596  :  0
Nan in row  597  :  0
Nan in row  598  :  0
Nan in row  599  :  0
Nan in row  600  :  0
Nan in row  601  :  0
Nan in row  602  :  0
Nan in row  603  :  0
Nan in row  604  :  0
Nan in row  605  :  0
Nan in row  606  :  0
Nan in row  607  :  0
Nan in row  608  :  0
Nan in row  609  :  0
Nan in row  610  :  0
Nan in row  611  :  0
Nan in row  612  :  0
Nan in row  613  :  0
Nan in row  614  :  0
Nan in row  615  :  0
Nan in row  616  :  0
Nan in row  617  :  0
Nan in row  618  :  0
Nan in row  619  :  0
Nan in row  620  :  0
Nan in row  621  :  0
Nan in row  622  :  0
Nan in row  623  :  0
Nan in row  624  :  0
Nan in row  625  :  0
Nan in row  626  :  0
Nan in row  627  :  0
Nan in row  628  :  0
Nan in row  629  :  0
Nan in row  630  :  0
Nan in row  631  :  0
Nan in row  632  :  0
Nan in row  633  :  0
Nan in row  634  :  0
Nan in row  635  :  0
Nan in row  636  :  0
Nan in row  637  :  0
Nan in row  638  :  0
Nan in row  639  :  0
Nan in row  640  :  0
Nan in row  641  :  0
Nan in row  642  :  0
Nan in row  643  :  0
Nan in row  644  :  0
Nan in row  645  :  0
Nan in row  646  :  0
Nan in row  647  :  0
Nan in row  648  :  0
Nan in row  649  :  0
Nan in row  650  :  0
Nan in row  651  :  0
Nan in row  652  :  0
Nan in row  653  :  0
Nan in row  654  :  0
Nan in row  655  :  0
Nan in row  656  :  0
Nan in row  657  :  0
Nan in row  658  :  0
Nan in row  659  :  0
Nan in row  660  :  0
Nan in row  661  :  0
Nan in row  662  :  0
Nan in row  663  :  0
Nan in row  664  :  0
Nan in row  665  :  0
Nan in row  666  :  0
Nan in row  667  :  0
Nan in row  668  :  0
Nan in row  669  :  0
Nan in row  670  :  0
Nan in row  671  :  0
Nan in row  672  :  0
Nan in row  673  :  0
Nan in row  674  :  0
Nan in row  675  :  0
Nan in row  676  :  0
Nan in row  677  :  0
Nan in row  678  :  0
Nan in row  679  :  0
Nan in row  680  :  0
Nan in row  681  :  0
Nan in row  682  :  0
Nan in row  683  :  0
Nan in row  684  :  0
Nan in row  685  :  0
Nan in row  686  :  0
Nan in row  687  :  0
Nan in row  688  :  0
Nan in row  689  :  0
Nan in row  690  :  0
Nan in row  691  :  0
Nan in row  692  :  0
Nan in row  693  :  0
Nan in row  694  :  0
Nan in row  695  :  0
Nan in row  696  :  0
Nan in row  697  :  0
Nan in row  698  :  0
Nan in row  699  :  0
Nan in row  700  :  0
Nan in row  701  :  0
Nan in row  702  :  0
Nan in row  703  :  0
Nan in row  704  :  0
Nan in row  705  :  0
Nan in row  706  :  0
Nan in row  707  :  0
Nan in row  708  :  0
Nan in row  709  :  0
Nan in row  710  :  0
Nan in row  711  :  0
Nan in row  712  :  0
Nan in row  713  :  0
Nan in row  714  :  0
Nan in row  715  :  0
Nan in row  716  :  0
Nan in row  717  :  0
Nan in row  718  :  0
Nan in row  719  :  0
Nan in row  720  :  0
Nan in row  721  :  0
Nan in row  722  :  0
Nan in row  723  :  0
Nan in row  724  :  0
Nan in row  725  :  0
Nan in row  726  :  0
Nan in row  727  :  0
Nan in row  728  :  0
Nan in row  729  :  0
Nan in row  730  :  0
Nan in row  731  :  0
Nan in row  732  :  0
Nan in row  733  :  0
Nan in row  734  :  0
Nan in row  735  :  0
Nan in row  736  :  0
Nan in row  737  :  0
Nan in row  738  :  0
Nan in row  739  :  0
Nan in row  740  :  0
Nan in row  741  :  0
Nan in row  742  :  0
Nan in row  743  :  0
Nan in row  744  :  0
Nan in row  745  :  0
Nan in row  746  :  0
Nan in row  747  :  0
Nan in row  748  :  0
Nan in row  749  :  0
Nan in row  750  :  0
Nan in row  751  :  0
Nan in row  752  :  0
Nan in row  753  :  0
Nan in row  754  :  0
Nan in row  755  :  0
Nan in row  756  :  0
Nan in row  757  :  0
Nan in row  758  :  0
Nan in row  759  :  0
Nan in row  760  :  0
Nan in row  761  :  0
Nan in row  762  :  0
Nan in row  763  :  0
Nan in row  764  :  0
Nan in row  765  :  0
Nan in row  766  :  0
Nan in row  767  :  0
Nan in row  768  :  0
Nan in row  769  :  0
Nan in row  770  :  0
Nan in row  771  :  0
Nan in row  772  :  0
Nan in row  773  :  0
Nan in row  774  :  0
Nan in row  775  :  0
Nan in row  776  :  0
Nan in row  777  :  0
Nan in row  778  :  0
Nan in row  779  :  0
Nan in row  780  :  0
Nan in row  781  :  0
Nan in row  782  :  0
Nan in row  783  :  0
Nan in row  784  :  0
Nan in row  785  :  0
Nan in row  786  :  0
Nan in row  787  :  0
Nan in row  788  :  0
Nan in row  789  :  0
Nan in row  790  :  0
Nan in row  791  :  0
Nan in row  792  :  0
Nan in row  793  :  0
Nan in row  794  :  0
Nan in row  795  :  0
Nan in row  796  :  0
Nan in row  797  :  0
Nan in row  798  :  0
Nan in row  799  :  0
Nan in row  800  :  0
Nan in row  801  :  0
Nan in row  802  :  0
Nan in row  803  :  0
Nan in row  804  :  0
Nan in row  805  :  0
Nan in row  806  :  0
Nan in row  807  :  0
Nan in row  808  :  0
Nan in row  809  :  0
Nan in row  810  :  0
Nan in row  811  :  0
Nan in row  812  :  0
Nan in row  813  :  0
Nan in row  814  :  0
Nan in row  815  :  0
Nan in row  816  :  0
Nan in row  817  :  0
Nan in row  818  :  0
Nan in row  819  :  0
Nan in row  820  :  0
Nan in row  821  :  0
Nan in row  822  :  0
Nan in row  823  :  0
Nan in row  824  :  0
Nan in row  825  :  0
Nan in row  826  :  0
Nan in row  827  :  0
Nan in row  828  :  0
Nan in row  829  :  0
Nan in row  830  :  0
Nan in row  831  :  0
Nan in row  832  :  0
Nan in row  833  :  0
Nan in row  834  :  0
Nan in row  835  :  0
Nan in row  836  :  0
Nan in row  837  :  0
Nan in row  838  :  0
Nan in row  839  :  0
Nan in row  840  :  0
Nan in row  841  :  0
Nan in row  842  :  0
Nan in row  843  :  0
Nan in row  844  :  0
Nan in row  845  :  0
Nan in row  846  :  0
Nan in row  847  :  0
Nan in row  848  :  0
Nan in row  849  :  0
Nan in row  850  :  0
Nan in row  851  :  0
Nan in row  852  :  0
Nan in row  853  :  0
Nan in row  854  :  0
Nan in row  855  :  0
Nan in row  856  :  0

Nan in row  857  :  0
Nan in row  858  :  0
Nan in row  859  :  0
Nan in row  860  :  0
Nan in row  861  :  0
Nan in row  862  :  0
Nan in row  863  :  0
Nan in row  864  :  0
Nan in row  865  :  0
Nan in row  866  :  0
Nan in row  867  :  0
Nan in row  868  :  0
Nan in row  869  :  0
Nan in row  870  :  0
Nan in row  871  :  0
Nan in row  872  :  0
Nan in row  873  :  0
Nan in row  874  :  0
Nan in row  875  :  0
Nan in row  876  :  0
Nan in row  877  :  0
Nan in row  878  :  0
Nan in row  879  :  0
Nan in row  880  :  0
Nan in row  881  :  0
Nan in row  882  :  0
Nan in row  883  :  0
Nan in row  884  :  0
Nan in row  885  :  0
Nan in row  886  :  0
Nan in row  887  :  0
Nan in row  888  :  0
Nan in row  889  :  0
Nan in row  890  :  0
Nan in row  891  :  0
Nan in row  892  :  0
Nan in row  893  :  0
Nan in row  894  :  0
Nan in row  895  :  0
Nan in row  896  :  0
Nan in row  897  :  0
Nan in row  898  :  0
Nan in row  899  :  0
Nan in row  900  :  0
Nan in row  901  :  0
Nan in row  902  :  0
Nan in row  903  :  0
Nan in row  904  :  0
Nan in row  905  :  0
Nan in row  906  :  0
Nan in row  907  :  0
Nan in row  908  :  0
Nan in row  909  :  0
Nan in row  910  :  0
Nan in row  911  :  0
Nan in row  912  :  0
Nan in row  913  :  0
Nan in row  914  :  0
Nan in row  915  :  0
Nan in row  916  :  0
Nan in row  917  :  0
Nan in row  918  :  0
Nan in row  919  :  0
Nan in row  920  :  0
Nan in row  921  :  0
Nan in row  922  :  0
Nan in row  923  :  0
Nan in row  924  :  0
Nan in row  925  :  0
Nan in row  926  :  0
Nan in row  927  :  0
Nan in row  928  :  0
Nan in row  929  :  0
Nan in row  930  :  0
Nan in row  931  :  0
Nan in row  932  :  0
Nan in row  933  :  0
Nan in row  934  :  0
Nan in row  935  :  0
Nan in row  936  :  0
Nan in row  937  :  0
Nan in row  938  :  0
Nan in row  939  :  0
Nan in row  940  :  0
Nan in row  941  :  0
Nan in row  942  :  0
Nan in row  943  :  0
Nan in row  944  :  0
Nan in row  945  :  0
Nan in row  946  :  0
Nan in row  947  :  0
Nan in row  948  :  0
Nan in row  949  :  0
Nan in row  950  :  0
Nan in row  951  :  0
Nan in row  952  :  0
Nan in row  953  :  0
Nan in row  954  :  0
Nan in row  955  :  0
Nan in row  956  :  0
Nan in row  957  :  0
Nan in row  958  :  0
Nan in row  959  :  0
Nan in row  960  :  0
Nan in row  961  :  0
Nan in row  962  :  0
Nan in row  963  :  0
Nan in row  964  :  0
Nan in row  965  :  0
Nan in row  966  :  0
Nan in row  967  :  0
Nan in row  968  :  0
Nan in row  969  :  0
Nan in row  970  :  0
Nan in row  971  :  0
Nan in row  972  :  0
Nan in row  973  :  0
Nan in row  974  :  0
Nan in row  975  :  0
Nan in row  976  :  0
Nan in row  977  :  0
Nan in row  978  :  0
Nan in row  979  :  0
Nan in row  980  :  0
Nan in row  981  :  0
Nan in row  982  :  0
Nan in row  983  :  0
Nan in row  984  :  0
Nan in row  985  :  0
Nan in row  986  :  0
Nan in row  987  :  0
Nan in row  988  :  0
Nan in row  989  :  0
Nan in row  990  :  0
Nan in row  991  :  0
Nan in row  992  :  0
Nan in row  993  :  0
Nan in row  994  :  0
Nan in row  995  :  0
Nan in row  996  :  0
Nan in row  997  :  0
Nan in row  998  :  0
Nan in row  999  :  0
Nan in row  1000  :  0
Nan in row  1001  :  0
Nan in row  1002  :  0
Nan in row  1003  :  0
Nan in row  1004  :  0
Nan in row  1005  :  0
Nan in row  1006  :  0
Nan in row  1007  :  0
Nan in row  1008  :  0
Nan in row  1009  :  0
Nan in row  1010  :  0
Nan in row  1011  :  0
Nan in row  1012  :  0
Nan in row  1013  :  0
Nan in row  1014  :  0
Nan in row  1015  :  0
Nan in row  1016  :  0
Nan in row  1017  :  0
Nan in row  1018  :  0
Nan in row  1019  :  0
Nan in row  1020  :  0
Nan in row  1021  :  0
Nan in row  1022  :  0
Nan in row  1023  :  0
Nan in row  1024  :  0
Nan in row  1025  :  0
Nan in row  1026  :  0
Nan in row  1027  :  0
Nan in row  1028  :  0
Nan in row  1029  :  0
Nan in row  1030  :  0
Nan in row  1031  :  0
Nan in row  1032  :  0
Nan in row  1033  :  0
Nan in row  1034  :  0
Nan in row  1035  :  0
Nan in row  1036  :  0
Nan in row  1037  :  0
Nan in row  1038  :  0
Nan in row  1039  :  0
Nan in row  1040  :  0
Nan in row  1041  :  0
Nan in row  1042  :  0
Nan in row  1043  :  0
Nan in row  1044  :  0
Nan in row  1045  :  0
Nan in row  1046  :  0
Nan in row  1047  :  0
Nan in row  1048  :  0
Nan in row  1049  :  0
Nan in row  1050  :  0
Nan in row  1051  :  0
Nan in row  1052  :  0
Nan in row  1053  :  0
Nan in row  1054  :  0
Nan in row  1055  :  0
Nan in row  1056  :  0
Nan in row  1057  :  0
Nan in row  1058  :  0
Nan in row  1059  :  0
Nan in row  1060  :  0
Nan in row  1061  :  0
Nan in row  1062  :  0
Nan in row  1063  :  0
Nan in row  1064  :  0
Nan in row  1065  :  0
Nan in row  1066  :  0
Nan in row  1067  :  0
Nan in row  1068  :  0
Nan in row  1069  :  0
Nan in row  1070  :  0
Nan in row  1071  :  0
Nan in row  1072  :  0
Nan in row  1073  :  0
Nan in row  1074  :  0
Nan in row  1075  :  0
Nan in row  1076  :  0
Nan in row  1077  :  0
Nan in row  1078  :  0
Nan in row  1079  :  0
Nan in row  1080  :  0
Nan in row  1081  :  0
Nan in row  1082  :  0
Nan in row  1083  :  0
Nan in row  1084  :  0
Nan in row  1085  :  0
Nan in row  1086  :  0
Nan in row  1087  :  0
Nan in row  1088  :  0
Nan in row  1089  :  0
Nan in row  1090  :  0
Nan in row  1091  :  0
Nan in row  1092  :  0
Nan in row  1093  :  0
Nan in row  1094  :  0
Nan in row  1095  :  0
Nan in row  1096  :  0
Nan in row  1097  :  0
Nan in row  1098  :  0
Nan in row  1099  :  0
Nan in row  1100  :  0
Nan in row  1101  :  0
Nan in row  1102  :  0
Nan in row  1103  :  0
Nan in row  1104  :  0
Nan in row  1105  :  0
Nan in row  1106  :  0
Nan in row  1107  :  0
Nan in row  1108  :  0
Nan in row  1109  :  0
Nan in row  1110  :  0
Nan in row  1111  :  0
Nan in row  1112  :  0
Nan in row  1113  :  0
Nan in row  1114  :  0
Nan in row  1115  :  0
Nan in row  1116  :  0
Nan in row  1117  :  0
Nan in row  1118  :  0
Nan in row  1119  :  0
Nan in row  1120  :  0
Nan in row  1121  :  0
Nan in row  1122  :  0
Nan in row  1123  :  0
Nan in row  1124  :  0
Nan in row  1125  :  0
Nan in row  1126  :  0
Nan in row  1127  :  0
Nan in row  1128  :  0
Nan in row  1129  :  0
Nan in row  1130  :  0
Nan in row  1131  :  0
Nan in row  1132  :  0
Nan in row  1133  :  0
Nan in row  1134  :  0
Nan in row  1135  :  0
Nan in row  1136  :  0
Nan in row  1137  :  0
Nan in row  1138  :  0
Nan in row  1139  :  0
Nan in row  1140  :  0
Nan in row  1141  :  0
Nan in row  1142  :  0
Nan in row  1143  :  0
Nan in row  1144  :  0
Nan in row  1145  :  0
Nan in row  1146  :  0
Nan in row  1147  :  0
Nan in row  1148  :  0
Nan in row  1149  :  0
Nan in row  1150  :  0
Nan in row  1151  :  0
Nan in row  1152  :  0
Nan in row  1153  :  0
Nan in row  1154  :  0
Nan in row  1155  :  0
Nan in row  1156  :  0
Nan in row  1157  :  0
Nan in row  1158  :  0
Nan in row  1159  :  0
Nan in row  1160  :  0
Nan in row  1161  :  0
Nan in row  1162  :  0
Nan in row  1163  :  0
Nan in row  1164  :  0
Nan in row  1165  :  0
Nan in row  1166  :  0
Nan in row  1167  :  0
Nan in row  1168  :  0
Nan in row  1169  :  0
Nan in row  1170  :  0
Nan in row  1171  :  0
Nan in row  1172  :  0
Nan in row  1173  :  0
Nan in row  1174  :  0
Nan in row  1175  :  0
Nan in row  1176  :  0
Nan in row  1177  :  0
Nan in row  1178  :  0
Nan in row  1179  :  0
Nan in row  1180  :  0
Nan in row  1181  :  0
Nan in row  1182  :  0
Nan in row  1183  :  0
Nan in row  1184  :  0
Nan in row  1185  :  0
Nan in row  1186  :  0
Nan in row  1187  :  0
Nan in row  1188  :  0
Nan in row  1189  :  0
Nan in row  1190  :  0
Nan in row  1191  :  0
Nan in row  1192  :  0
Nan in row  1193  :  0
Nan in row  1194  :  0
Nan in row  1195  :  0
Nan in row  1196  :  0
Nan in row  1197  :  0
Nan in row  1198  :  0
Nan in row  1199  :  0
Nan in row  1200  :  0
Nan in row  1201  :  0
Nan in row  1202  :  0
Nan in row  1203  :  0
Nan in row  1204  :  0
Nan in row  1205  :  0
Nan in row  1206  :  0
Nan in row  1207  :  0
Nan in row  1208  :  0
Nan in row  1209  :  0
Nan in row  1210  :  0
Nan in row  1211  :  0
Nan in row  1212  :  0
Nan in row  1213  :  0
Nan in row  1214  :  0
Nan in row  1215  :  0
Nan in row  1216  :  0
Nan in row  1217  :  0
Nan in row  1218  :  0
Nan in row  1219  :  0
Nan in row  1220  :  0
Nan in row  1221  :  0
Nan in row  1222  :  0
Nan in row  1223  :  0
Nan in row  1224  :  0
Nan in row  1225  :  0
Nan in row  1226  :  0
Nan in row  1227  :  0
Nan in row  1228  :  0
Nan in row  1229  :  0
Nan in row  1230  :  0
Nan in row  1231  :  0
Nan in row  1232  :  0
Nan in row  1233  :  0
Nan in row  1234  :  0
Nan in row  1235  :  0
Nan in row  1236  :  0
Nan in row  1237  :  0
Nan in row  1238  :  0
Nan in row  1239  :  0
Nan in row  1240  :  0
Nan in row  1241  :  0
Nan in row  1242  :  0
Nan in row  1243  :  0
Nan in row  1244  :  0
Nan in row  1245  :  0
Nan in row  1246  :  0
Nan in row  1247  :  0
Nan in row  1248  :  0
Nan in row  1249  :  0
Nan in row  1250  :  0
Nan in row  1251  :  0
Nan in row  1252  :  0
Nan in row  1253  :  0
Nan in row  1254  :  0
Nan in row  1255  :  0
Nan in row  1256  :  0
Nan in row  1257  :  0
Nan in row  1258  :  0
Nan in row  1259  :  0
Nan in row  1260  :  0
Nan in row  1261  :  0
Nan in row  1262  :  0
Nan in row  1263  :  0
Nan in row  1264  :  0
Nan in row  1265  :  0
Nan in row  1266  :  0
Nan in row  1267  :  0
Nan in row  1268  :  0
Nan in row  1269  :  0
Nan in row  1270  :  0
Nan in row  1271  :  0
Nan in row  1272  :  0
Nan in row  1273  :  0
Nan in row  1274  :  0
Nan in row  1275  :  0
Nan in row  1276  :  0
Nan in row  1277  :  0
Nan in row  1278  :  0
Nan in row  1279  :  0
Nan in row  1280  :  0
Nan in row  1281  :  0
Nan in row  1282  :  0
Nan in row  1283  :  0
Nan in row  1284  :  0
Nan in row  1285  :  0

Nan in row  1286  :  0
Nan in row  1287  :  0
Nan in row  1288  :  0
Nan in row  1289  :  0
Nan in row  1290  :  0
Nan in row  1291  :  0
Nan in row  1292  :  0
Nan in row  1293  :  0
Nan in row  1294  :  0
Nan in row  1295  :  0
Nan in row  1296  :  0
Nan in row  1297  :  0
Nan in row  1298  :  0
Nan in row  1299  :  0
Nan in row  1300  :  0
Nan in row  1301  :  0
Nan in row  1302  :  0
Nan in row  1303  :  0
Nan in row  1304  :  0
Nan in row  1305  :  0
Nan in row  1306  :  0
Nan in row  1307  :  0
Nan in row  1308  :  0
Nan in row  1309  :  0
Nan in row  1310  :  0
Nan in row  1311  :  0
Nan in row  1312  :  0
Nan in row  1313  :  0
Nan in row  1314  :  0
Nan in row  1315  :  0
Nan in row  1316  :  0
Nan in row  1317  :  0
Nan in row  1318  :  0
Nan in row  1319  :  0
Nan in row  1320  :  0
Nan in row  1321  :  0
Nan in row  1322  :  0
Nan in row  1323  :  0
Nan in row  1324  :  0
Nan in row  1325  :  0
Nan in row  1326  :  0
Nan in row  1327  :  0
Nan in row  1328  :  0
Nan in row  1329  :  0
Nan in row  1330  :  0
Nan in row  1331  :  0
Nan in row  1332  :  0
Nan in row  1333  :  0
Nan in row  1334  :  0
Nan in row  1335  :  0
Nan in row  1336  :  0
Nan in row  1337  :  0
Nan in row  1338  :  0
Nan in row  1339  :  0
Nan in row  1340  :  0
Nan in row  1341  :  0
Nan in row  1342  :  0
Nan in row  1343  :  0
Nan in row  1344  :  0
Nan in row  1345  :  0
Nan in row  1346  :  0
Nan in row  1347  :  0
Nan in row  1348  :  0
Nan in row  1349  :  0
Nan in row  1350  :  0
Nan in row  1351  :  0
Nan in row  1352  :  0
Nan in row  1353  :  0
Nan in row  1354  :  0
Nan in row  1355  :  0
Nan in row  1356  :  0
Nan in row  1357  :  0
Nan in row  1358  :  0
Nan in row  1359  :  0
Nan in row  1360  :  0
Nan in row  1361  :  0
Nan in row  1362  :  0
Nan in row  1363  :  0
Nan in row  1364  :  0
Nan in row  1365  :  0
Nan in row  1366  :  0
Nan in row  1367  :  0
Nan in row  1368  :  0
Nan in row  1369  :  0
Nan in row  1370  :  0
Nan in row  1371  :  0
Nan in row  1372  :  0
Nan in row  1373  :  0
Nan in row  1374  :  0
Nan in row  1375  :  0
Nan in row  1376  :  0
Nan in row  1377  :  0
Nan in row  1378  :  0
Nan in row  1379  :  0
Nan in row  1380  :  0
Nan in row  1381  :  0
Nan in row  1382  :  0
Nan in row  1383  :  0
Nan in row  1384  :  0
Nan in row  1385  :  0
Nan in row  1386  :  0
Nan in row  1387  :  0
Nan in row  1388  :  0
Nan in row  1389  :  0
Nan in row  1390  :  0
Nan in row  1391  :  0
Nan in row  1392  :  0
Nan in row  1393  :  0
Nan in row  1394  :  0
Nan in row  1395  :  0
Nan in row  1396  :  0
Nan in row  1397  :  0
Nan in row  1398  :  0
Nan in row  1399  :  0
Nan in row  1400  :  0
Nan in row  1401  :  0
Nan in row  1402  :  0
Nan in row  1403  :  0
Nan in row  1404  :  0
Nan in row  1405  :  0
Nan in row  1406  :  0
Nan in row  1407  :  0
Nan in row  1408  :  0
Nan in row  1409  :  0
Nan in row  1410  :  0
Nan in row  1411  :  0
Nan in row  1412  :  0
Nan in row  1413  :  0
Nan in row  1414  :  0
Nan in row  1415  :  0
Nan in row  1416  :  0
Nan in row  1417  :  0
Nan in row  1418  :  0
Nan in row  1419  :  0
Nan in row  1420  :  0
Nan in row  1421  :  0
Nan in row  1422  :  0
Nan in row  1423  :  0
Nan in row  1424  :  0
Nan in row  1425  :  0
Nan in row  1426  :  0
Nan in row  1427  :  0
Nan in row  1428  :  0
Nan in row  1429  :  0
Nan in row  1430  :  0
Nan in row  1431  :  0
Nan in row  1432  :  0
Nan in row  1433  :  0
Nan in row  1434  :  0
Nan in row  1435  :  0
Nan in row  1436  :  0
Nan in row  1437  :  0
Nan in row  1438  :  0
Nan in row  1439  :  0
Nan in row  1440  :  0
Nan in row  1441  :  0
Nan in row  1442  :  0
Nan in row  1443  :  0
Nan in row  1444  :  0
Nan in row  1445  :  0
Nan in row  1446  :  0
Nan in row  1447  :  0
Nan in row  1448  :  0
Nan in row  1449  :  0
Nan in row  1450  :  0
Nan in row  1451  :  0
Nan in row  1452  :  0
Nan in row  1453  :  0
Nan in row  1454  :  0
Nan in row  1455  :  0
Nan in row  1456  :  0
Nan in row  1457  :  0
Nan in row  1458  :  0
Nan in row  1459  :  0
Nan in row  1460  :  0
Nan in row  1461  :  0
Nan in row  1462  :  0
Nan in row  1463  :  0
Nan in row  1464  :  0
Nan in row  1465  :  0
Nan in row  1466  :  0
Nan in row  1467  :  0
Nan in row  1468  :  0
Nan in row  1469  :  0
Nan in row  1470  :  0
Nan in row  1471  :  0
Nan in row  1472  :  0
Nan in row  1473  :  0
Nan in row  1474  :  0
Nan in row  1475  :  0
Nan in row  1476  :  0
Nan in row  1477  :  0
Nan in row  1478  :  0
Nan in row  1479  :  0
Nan in row  1480  :  0
Nan in row  1481  :  0
Nan in row  1482  :  0
Nan in row  1483  :  0
Nan in row  1484  :  0
Nan in row  1485  :  0
Nan in row  1486  :  0
Nan in row  1487  :  0
Nan in row  1488  :  0
Nan in row  1489  :  0
Nan in row  1490  :  0
Nan in row  1491  :  0
Nan in row  1492  :  0
Nan in row  1493  :  0
Nan in row  1494  :  0
Nan in row  1495  :  0
Nan in row  1496  :  0
Nan in row  1497  :  0
Nan in row  1498  :  0
Nan in row  1499  :  0
Nan in row  1500  :  0
Nan in row  1501  :  0
Nan in row  1502  :  0
Nan in row  1503  :  0
Nan in row  1504  :  0
Nan in row  1505  :  0
Nan in row  1506  :  0
Nan in row  1507  :  0
Nan in row  1508  :  0
Nan in row  1509  :  0
Nan in row  1510  :  0
Nan in row  1511  :  0
Nan in row  1512  :  0
Nan in row  1513  :  0
Nan in row  1514  :  0
Nan in row  1515  :  0
Nan in row  1516  :  0
Nan in row  1517  :  0
Nan in row  1518  :  0
Nan in row  1519  :  0
Nan in row  1520  :  0
Nan in row  1521  :  0
Nan in row  1522  :  0
Nan in row  1523  :  0
Nan in row  1524  :  0
Nan in row  1525  :  0
Nan in row  1526  :  0
Nan in row  1527  :  0
Nan in row  1528  :  0
Nan in row  1529  :  0
Nan in row  1530  :  0
Nan in row  1531  :  0
Nan in row  1532  :  0
Nan in row  1533  :  0
Nan in row  1534  :  0
Nan in row  1535  :  0
Nan in row  1536  :  0
Nan in row  1537  :  0
Nan in row  1538  :  0
Nan in row  1539  :  0
Nan in row  1540  :  0
Nan in row  1541  :  0
Nan in row  1542  :  0
Nan in row  1543  :  0
Nan in row  1544  :  0
Nan in row  1545  :  0
Nan in row  1546  :  0
Nan in row  1547  :  0
Nan in row  1548  :  0
Nan in row  1549  :  0
Nan in row  1550  :  0
Nan in row  1551  :  0
Nan in row  1552  :  0
Nan in row  1553  :  0
Nan in row  1554  :  0
Nan in row  1555  :  0
Nan in row  1556  :  0
Nan in row  1557  :  0
Nan in row  1558  :  0
Nan in row  1559  :  0
Nan in row  1560  :  0
Nan in row  1561  :  0
Nan in row  1562  :  0
Nan in row  1563  :  0
Nan in row  1564  :  0
Nan in row  1565  :  0
Nan in row  1566  :  0
Nan in row  1567  :  0
Nan in row  1568  :  0
Nan in row  1569  :  0
Nan in row  1570  :  0
Nan in row  1571  :  0
Nan in row  1572  :  0
Nan in row  1573  :  0
Nan in row  1574  :  0
Nan in row  1575  :  0
Nan in row  1576  :  0
Nan in row  1577  :  0
Nan in row  1578  :  0
Nan in row  1579  :  0
Nan in row  1580  :  0
Nan in row  1581  :  0
Nan in row  1582  :  0
Nan in row  1583  :  0
Nan in row  1584  :  0
Nan in row  1585  :  0
Nan in row  1586  :  0
Nan in row  1587  :  0
Nan in row  1588  :  0
Nan in row  1589  :  0
Nan in row  1590  :  0
Nan in row  1591  :  0
Nan in row  1592  :  0
Nan in row  1593  :  0
Nan in row  1594  :  0
Nan in row  1595  :  0
Nan in row  1596  :  0
Nan in row  1597  :  0
Nan in row  1598  :  0
Nan in row  1599  :  0
Nan in row  1600  :  0
Nan in row  1601  :  0
Nan in row  1602  :  0
Nan in row  1603  :  0
Nan in row  1604  :  0
Nan in row  1605  :  0
Nan in row  1606  :  0
Nan in row  1607  :  0
Nan in row  1608  :  0
Nan in row  1609  :  0
Nan in row  1610  :  0
Nan in row  1611  :  0
Nan in row  1612  :  0
Nan in row  1613  :  0
Nan in row  1614  :  0
Nan in row  1615  :  0
Nan in row  1616  :  0
Nan in row  1617  :  0
Nan in row  1618  :  0
Nan in row  1619  :  0
Nan in row  1620  :  0
Nan in row  1621  :  0
Nan in row  1622  :  0
Nan in row  1623  :  0
Nan in row  1624  :  0
Nan in row  1625  :  0
Nan in row  1626  :  0
Nan in row  1627  :  0
Nan in row  1628  :  0
Nan in row  1629  :  0
Nan in row  1630  :  0
Nan in row  1631  :  0
Nan in row  1632  :  0
Nan in row  1633  :  0
Nan in row  1634  :  0
Nan in row  1635  :  0
Nan in row  1636  :  0
Nan in row  1637  :  0
Nan in row  1638  :  0
Nan in row  1639  :  0
Nan in row  1640  :  0
Nan in row  1641  :  0
Nan in row  1642  :  0
Nan in row  1643  :  0
Nan in row  1644  :  0
Nan in row  1645  :  0
Nan in row  1646  :  0
Nan in row  1647  :  0
Nan in row  1648  :  0
Nan in row  1649  :  0
Nan in row  1650  :  0
Nan in row  1651  :  0
Nan in row  1652  :  0
Nan in row  1653  :  0
Nan in row  1654  :  0
Nan in row  1655  :  0
Nan in row  1656  :  0
Nan in row  1657  :  0
Nan in row  1658  :  0
Nan in row  1659  :  0
Nan in row  1660  :  0
Nan in row  1661  :  0
Nan in row  1662  :  0
Nan in row  1663  :  0
Nan in row  1664  :  0
Nan in row  1665  :  0
Nan in row  1666  :  0
Nan in row  1667  :  0
Nan in row  1668  :  0
Nan in row  1669  :  0
Nan in row  1670  :  0
Nan in row  1671  :  0
Nan in row  1672  :  0
Nan in row  1673  :  0
Nan in row  1674  :  0
Nan in row  1675  :  0
Nan in row  1676  :  0
Nan in row  1677  :  0
Nan in row  1678  :  0
Nan in row  1679  :  0
Nan in row  1680  :  0
Nan in row  1681  :  0
Nan in row  1682  :  0
Nan in row  1683  :  0
Nan in row  1684  :  0
Nan in row  1685  :  0
Nan in row  1686  :  0
Nan in row  1687  :  0
Nan in row  1688  :  0
Nan in row  1689  :  0
Nan in row  1690  :  0
Nan in row  1691  :  0
Nan in row  1692  :  0
Nan in row  1693  :  0
Nan in row  1694  :  0
Nan in row  1695  :  0
Nan in row  1696  :  0
Nan in row  1697  :  0
Nan in row  1698  :  0
Nan in row  1699  :  0
Nan in row  1700  :  0
Nan in row  1701  :  0
Nan in row  1702  :  0
Nan in row  1703  :  0
Nan in row  1704  :  0
Nan in row  1705  :  0
Nan in row  1706  :  0
Nan in row  1707  :  0
Nan in row  1708  :  0
Nan in row  1709  :  0
Nan in row  1710  :  0
Nan in row  1711  :  0
Nan in row  1712  :  0
Nan in row  1713  :  0
Nan in row  1714  :  0
Nan in row  1715  :  0
Nan in row  1716  :  0
Nan in row  1717  :  0
Nan in row  1718  :  0
Nan in row  1719  :  0
Nan in row  1720  :  0
Nan in row  1721  :  0
Nan in row  1722  :  0
Nan in row  1723  :  0
Nan in row  1724  :  0
Nan in row  1725  :  0
Nan in row  1726  :  0
Nan in row  1727  :  0
Nan in row  1728  :  0
Nan in row  1729  :  0
Nan in row  1730  :  0
Nan in row  1731  :  0
Nan in row  1732  :  0
Nan in row  1733  :  0
Nan in row  1734  :  0
Nan in row  1735  :  0
Nan in row  1736  :  0
Nan in row  1737  :  0
Nan in row  1738  :  0
Nan in row  1739  :  0
Nan in row  1740  :  0
Nan in row  1741  :  0
Nan in row  1742  :  0
Nan in row  1743  :  0

Nan in row  1744  :  0
Nan in row  1745  :  0
Nan in row  1746  :  0
Nan in row  1747  :  0
Nan in row  1748  :  0
Nan in row  1749  :  0
Nan in row  1750  :  0
Nan in row  1751  :  0
Nan in row  1752  :  0
Nan in row  1753  :  0
Nan in row  1754  :  0
Nan in row  1755  :  0
Nan in row  1756  :  0
Nan in row  1757  :  0
Nan in row  1758  :  0
Nan in row  1759  :  0
Nan in row  1760  :  0
Nan in row  1761  :  0
Nan in row  1762  :  0
Nan in row  1763  :  0
Nan in row  1764  :  0
Nan in row  1765  :  0
Nan in row  1766  :  0
Nan in row  1767  :  0
Nan in row  1768  :  0
Nan in row  1769  :  0
Nan in row  1770  :  0
Nan in row  1771  :  0
Nan in row  1772  :  0
Nan in row  1773  :  0
Nan in row  1774  :  0
Nan in row  1775  :  0
Nan in row  1776  :  0
Nan in row  1777  :  0
Nan in row  1778  :  0
Nan in row  1779  :  0
Nan in row  1780  :  0
Nan in row  1781  :  0
Nan in row  1782  :  0
Nan in row  1783  :  0
Nan in row  1784  :  0
Nan in row  1785  :  0
Nan in row  1786  :  0
Nan in row  1787  :  0
Nan in row  1788  :  0
Nan in row  1789  :  0
Nan in row  1790  :  0
Nan in row  1791  :  0
Nan in row  1792  :  0
Nan in row  1793  :  0
Nan in row  1794  :  0
Nan in row  1795  :  0
Nan in row  1796  :  0
Nan in row  1797  :  0
Nan in row  1798  :  0
Nan in row  1799  :  0
Nan in row  1800  :  0
Nan in row  1801  :  0
Nan in row  1802  :  0
Nan in row  1803  :  0
Nan in row  1804  :  0
Nan in row  1805  :  0
Nan in row  1806  :  0
Nan in row  1807  :  0
Nan in row  1808  :  0
Nan in row  1809  :  0
Nan in row  1810  :  0
Nan in row  1811  :  0
Nan in row  1812  :  0
Nan in row  1813  :  0
Nan in row  1814  :  0
Nan in row  1815  :  0
Nan in row  1816  :  0
Nan in row  1817  :  0
Nan in row  1818  :  0
Nan in row  1819  :  0
Nan in row  1820  :  0
Nan in row  1821  :  0
Nan in row  1822  :  0
Nan in row  1823  :  0
Nan in row  1824  :  0
Nan in row  1825  :  0
Nan in row  1826  :  0
Nan in row  1827  :  0
Nan in row  1828  :  0
Nan in row  1829  :  0
Nan in row  1830  :  0
Nan in row  1831  :  0
Nan in row  1832  :  0
Nan in row  1833  :  0
Nan in row  1834  :  0
Nan in row  1835  :  0
Nan in row  1836  :  0
Nan in row  1837  :  0
Nan in row  1838  :  0
Nan in row  1839  :  0
Nan in row  1840  :  0
Nan in row  1841  :  0
Nan in row  1842  :  0
Nan in row  1843  :  0
Nan in row  1844  :  0
Nan in row  1845  :  0
Nan in row  1846  :  0
Nan in row  1847  :  0
Nan in row  1848  :  0
Nan in row  1849  :  0
Nan in row  1850  :  0
Nan in row  1851  :  0
Nan in row  1852  :  0
Nan in row  1853  :  0
Nan in row  1854  :  0
Nan in row  1855  :  0
Nan in row  1856  :  0
Nan in row  1857  :  0
Nan in row  1858  :  0
Nan in row  1859  :  0
Nan in row  1860  :  0
Nan in row  1861  :  0
Nan in row  1862  :  0
Nan in row  1863  :  0
Nan in row  1864  :  0
Nan in row  1865  :  0
Nan in row  1866  :  0
Nan in row  1867  :  0
Nan in row  1868  :  0
Nan in row  1869  :  0
Nan in row  1870  :  0
Nan in row  1871  :  0
Nan in row  1872  :  0
Nan in row  1873  :  0
Nan in row  1874  :  0
Nan in row  1875  :  0
Nan in row  1876  :  0
Nan in row  1877  :  0
Nan in row  1878  :  0
Nan in row  1879  :  0
Nan in row  1880  :  0
Nan in row  1881  :  0
Nan in row  1882  :  0
Nan in row  1883  :  0
Nan in row  1884  :  0
Nan in row  1885  :  0
Nan in row  1886  :  0
Nan in row  1887  :  0
Nan in row  1888  :  0
Nan in row  1889  :  0
Nan in row  1890  :  0
Nan in row  1891  :  0
Nan in row  1892  :  0
Nan in row  1893  :  0
Nan in row  1894  :  0
Nan in row  1895  :  0
Nan in row  1896  :  0
Nan in row  1897  :  0
Nan in row  1898  :  0
Nan in row  1899  :  0
Nan in row  1900  :  0
Nan in row  1901  :  0
Nan in row  1902  :  0
Nan in row  1903  :  0
Nan in row  1904  :  0
Nan in row  1905  :  0
Nan in row  1906  :  0
Nan in row  1907  :  0
Nan in row  1908  :  0
Nan in row  1909  :  0
Nan in row  1910  :  0
Nan in row  1911  :  0
Nan in row  1912  :  0
Nan in row  1913  :  0
Nan in row  1914  :  0
Nan in row  1915  :  0
Nan in row  1916  :  0
Nan in row  1917  :  0
Nan in row  1918  :  0
Nan in row  1919  :  0
Nan in row  1920  :  0
Nan in row  1921  :  0
Nan in row  1922  :  0
Nan in row  1923  :  0
Nan in row  1924  :  0
Nan in row  1925  :  0
Nan in row  1926  :  0
Nan in row  1927  :  0
Nan in row  1928  :  0
Nan in row  1929  :  0
Nan in row  1930  :  0
Nan in row  1931  :  0
Nan in row  1932  :  0
Nan in row  1933  :  0
Nan in row  1934  :  0
Nan in row  1935  :  0
Nan in row  1936  :  0
Nan in row  1937  :  0
Nan in row  1938  :  0
Nan in row  1939  :  0
Nan in row  1940  :  0
Nan in row  1941  :  0
Nan in row  1942  :  0
Nan in row  1943  :  0
Nan in row  1944  :  0
Nan in row  1945  :  0
Nan in row  1946  :  0
Nan in row  1947  :  0
Nan in row  1948  :  0
Nan in row  1949  :  0
Nan in row  1950  :  0
Nan in row  1951  :  0
Nan in row  1952  :  0
Nan in row  1953  :  0
Nan in row  1954  :  0
Nan in row  1955  :  0
Nan in row  1956  :  0
Nan in row  1957  :  0
Nan in row  1958  :  0
Nan in row  1959  :  0
Nan in row  1960  :  0
Nan in row  1961  :  0
Nan in row  1962  :  0
Nan in row  1963  :  0
Nan in row  1964  :  0
Nan in row  1965  :  0
Nan in row  1966  :  0
Nan in row  1967  :  0
Nan in row  1968  :  0
Nan in row  1969  :  0
Nan in row  1970  :  0
Nan in row  1971  :  0
Nan in row  1972  :  0
Nan in row  1973  :  0
Nan in row  1974  :  0
Nan in row  1975  :  0
Nan in row  1976  :  0
Nan in row  1977  :  0
Nan in row  1978  :  0
Nan in row  1979  :  0
Nan in row  1980  :  0
Nan in row  1981  :  0
Nan in row  1982  :  0
Nan in row  1983  :  0
Nan in row  1984  :  0
Nan in row  1985  :  0
Nan in row  1986  :  0
Nan in row  1987  :  0
Nan in row  1988  :  0
Nan in row  1989  :  0
Nan in row  1990  :  0
Nan in row  1991  :  0
Nan in row  1992  :  0
Nan in row  1993  :  0
Nan in row  1994  :  0
Nan in row  1995  :  0
Nan in row  1996  :  0
Nan in row  1997  :  0
Nan in row  1998  :  0
Nan in row  1999  :  0
Nan in row  2000  :  0
Nan in row  2001  :  0
Nan in row  2002  :  0
Nan in row  2003  :  0
Nan in row  2004  :  0
Nan in row  2005  :  0
Nan in row  2006  :  0
Nan in row  2007  :  0
Nan in row  2008  :  0
Nan in row  2009  :  0
Nan in row  2010  :  0
Nan in row  2011  :  0
Nan in row  2012  :  0
Nan in row  2013  :  0
Nan in row  2014  :  0
Nan in row  2015  :  0
Nan in row  2016  :  0
Nan in row  2017  :  0
Nan in row  2018  :  0
Nan in row  2019  :  0
Nan in row  2020  :  0
Nan in row  2021  :  0
Nan in row  2022  :  0
Nan in row  2023  :  0
Nan in row  2024  :  0
Nan in row  2025  :  0
Nan in row  2026  :  0
Nan in row  2027  :  0
Nan in row  2028  :  0
Nan in row  2029  :  0
Nan in row  2030  :  0
Nan in row  2031  :  0
Nan in row  2032  :  0
Nan in row  2033  :  0
Nan in row  2034  :  0
Nan in row  2035  :  0
Nan in row  2036  :  0
Nan in row  2037  :  0
Nan in row  2038  :  0
Nan in row  2039  :  0
Nan in row  2040  :  0
Nan in row  2041  :  0
Nan in row  2042  :  0
Nan in row  2043  :  0
Nan in row  2044  :  0
Nan in row  2045  :  0
Nan in row  2046  :  0
Nan in row  2047  :  0
Nan in row  2048  :  0
Nan in row  2049  :  0
Nan in row  2050  :  0
Nan in row  2051  :  0
Nan in row  2052  :  0
Nan in row  2053  :  0
Nan in row  2054  :  0
Nan in row  2055  :  0
Nan in row  2056  :  0
Nan in row  2057  :  0
Nan in row  2058  :  0
Nan in row  2059  :  0
Nan in row  2060  :  0
Nan in row  2061  :  0
Nan in row  2062  :  0
Nan in row  2063  :  0
Nan in row  2064  :  0
Nan in row  2065  :  0
Nan in row  2066  :  0
Nan in row  2067  :  0
Nan in row  2068  :  0
Nan in row  2069  :  0
Nan in row  2070  :  0
Nan in row  2071  :  0
Nan in row  2072  :  0
Nan in row  2073  :  0
Nan in row  2074  :  0
Nan in row  2075  :  0
Nan in row  2076  :  0
Nan in row  2077  :  0
Nan in row  2078  :  0
Nan in row  2079  :  0
Nan in row  2080  :  0
Nan in row  2081  :  0
Nan in row  2082  :  0
Nan in row  2083  :  0
Nan in row  2084  :  0
Nan in row  2085  :  0
Nan in row  2086  :  0
Nan in row  2087  :  0
Nan in row  2088  :  0
Nan in row  2089  :  0
Nan in row  2090  :  0
Nan in row  2091  :  0
Nan in row  2092  :  0
Nan in row  2093  :  0
Nan in row  2094  :  0
Nan in row  2095  :  0
Nan in row  2096  :  0
Nan in row  2097  :  0
Nan in row  2098  :  0
Nan in row  2099  :  0
Nan in row  2100  :  0
Nan in row  2101  :  0
Nan in row  2102  :  0
Nan in row  2103  :  0
Nan in row  2104  :  0
Nan in row  2105  :  0
Nan in row  2106  :  0
Nan in row  2107  :  0
Nan in row  2108  :  0
Nan in row  2109  :  0
Nan in row  2110  :  0
Nan in row  2111  :  0
Nan in row  2112  :  0
Nan in row  2113  :  0
Nan in row  2114  :  0
Nan in row  2115  :  0
Nan in row  2116  :  0
Nan in row  2117  :  0
Nan in row  2118  :  0
Nan in row  2119  :  0
Nan in row  2120  :  0

Nan in row  2121  :  0
Nan in row  2122  :  0
Nan in row  2123  :  0
Nan in row  2124  :  0
Nan in row  2125  :  0
Nan in row  2126  :  0
Nan in row  2127  :  0
Nan in row  2128  :  0
Nan in row  2129  :  0
Nan in row  2130  :  0
Nan in row  2131  :  0
Nan in row  2132  :  0
Nan in row  2133  :  0
Nan in row  2134  :  0
Nan in row  2135  :  0
Nan in row  2136  :  0
Nan in row  2137  :  0
Nan in row  2138  :  0
Nan in row  2139  :  0
Nan in row  2140  :  0
Nan in row  2141  :  0
Nan in row  2142  :  0
Nan in row  2143  :  0
Nan in row  2144  :  0
Nan in row  2145  :  0
Nan in row  2146  :  0
Nan in row  2147  :  0
Nan in row  2148  :  0
Nan in row  2149  :  0
Nan in row  2150  :  0
Nan in row  2151  :  0
Nan in row  2152  :  0
Nan in row  2153  :  0
Nan in row  2154  :  0
Nan in row  2155  :  0
Nan in row  2156  :  0
Nan in row  2157  :  0
Nan in row  2158  :  0
Nan in row  2159  :  0
Nan in row  2160  :  0
Nan in row  2161  :  0
Nan in row  2162  :  0
Nan in row  2163  :  0
Nan in row  2164  :  0
Nan in row  2165  :  0
Nan in row  2166  :  0
Nan in row  2167  :  0
Nan in row  2168  :  0
Nan in row  2169  :  0
Nan in row  2170  :  0
Nan in row  2171  :  0
Nan in row  2172  :  0
Nan in row  2173  :  0
Nan in row  2174  :  0
Nan in row  2175  :  0
Nan in row  2176  :  0
Nan in row  2177  :  0
Nan in row  2178  :  0
Nan in row  2179  :  0
Nan in row  2180  :  0
Nan in row  2181  :  0
Nan in row  2182  :  0
Nan in row  2183  :  0
Nan in row  2184  :  0
Nan in row  2185  :  0
Nan in row  2186  :  0
Nan in row  2187  :  0
Nan in row  2188  :  0
Nan in row  2189  :  0
Nan in row  2190  :  0
Nan in row  2191  :  0
Nan in row  2192  :  0
Nan in row  2193  :  0
Nan in row  2194  :  0
Nan in row  2195  :  0
Nan in row  2196  :  0
Nan in row  2197  :  0
Nan in row  2198  :  0
Nan in row  2199  :  0
Nan in row  2200  :  0
Nan in row  2201  :  0
Nan in row  2202  :  0
Nan in row  2203  :  0
Nan in row  2204  :  0
Nan in row  2205  :  0
Nan in row  2206  :  0
Nan in row  2207  :  0
Nan in row  2208  :  0
Nan in row  2209  :  0
Nan in row  2210  :  0
Nan in row  2211  :  0
Nan in row  2212  :  0
Nan in row  2213  :  0
Nan in row  2214  :  0
Nan in row  2215  :  0
Nan in row  2216  :  0
Nan in row  2217  :  0
Nan in row  2218  :  0
Nan in row  2219  :  0
Nan in row  2220  :  0
Nan in row  2221  :  0
Nan in row  2222  :  0
Nan in row  2223  :  0
Nan in row  2224  :  0
Nan in row  2225  :  0
Nan in row  2226  :  0
Nan in row  2227  :  0
Nan in row  2228  :  0
Nan in row  2229  :  0
Nan in row  2230  :  0
Nan in row  2231  :  0
Nan in row  2232  :  0
Nan in row  2233  :  0
Nan in row  2234  :  0
Nan in row  2235  :  0
Nan in row  2236  :  0
Nan in row  2237  :  0
Nan in row  2238  :  0
Nan in row  2239  :  0
Nan in row  2240  :  0
Nan in row  2241  :  0
Nan in row  2242  :  0
Nan in row  2243  :  0
Nan in row  2244  :  0
Nan in row  2245  :  0
Nan in row  2246  :  0
Nan in row  2247  :  0
Nan in row  2248  :  0
Nan in row  2249  :  0
Nan in row  2250  :  0
Nan in row  2251  :  0
Nan in row  2252  :  0
Nan in row  2253  :  0
Nan in row  2254  :  0
Nan in row  2255  :  0
Nan in row  2256  :  0
Nan in row  2257  :  0
Nan in row  2258  :  0
Nan in row  2259  :  0
Nan in row  2260  :  0
Nan in row  2261  :  0
Nan in row  2262  :  0
Nan in row  2263  :  0
Nan in row  2264  :  0
Nan in row  2265  :  0
Nan in row  2266  :  0
Nan in row  2267  :  0
Nan in row  2268  :  0
Nan in row  2269  :  0
Nan in row  2270  :  0
Nan in row  2271  :  0
Nan in row  2272  :  0
Nan in row  2273  :  0
Nan in row  2274  :  0
Nan in row  2275  :  0
Nan in row  2276  :  0
Nan in row  2277  :  0
Nan in row  2278  :  0
Nan in row  2279  :  0
Nan in row  2280  :  0
Nan in row  2281  :  0
Nan in row  2282  :  0
Nan in row  2283  :  0
Nan in row  2284  :  0
Nan in row  2285  :  0
Nan in row  2286  :  0
Nan in row  2287  :  0
Nan in row  2288  :  0
Nan in row  2289  :  0
Nan in row  2290  :  0
Nan in row  2291  :  0
Nan in row  2292  :  0
Nan in row  2293  :  0
Nan in row  2294  :  0
Nan in row  2295  :  0
Nan in row  2296  :  0
Nan in row  2297  :  0
Nan in row  2298  :  0
Nan in row  2299  :  0
Nan in row  2300  :  0
Nan in row  2301  :  0
Nan in row  2302  :  0
Nan in row  2303  :  0
Nan in row  2304  :  0
Nan in row  2305  :  0
Nan in row  2306  :  0
Nan in row  2307  :  0
Nan in row  2308  :  0
Nan in row  2309  :  0
Nan in row  2310  :  0
Nan in row  2311  :  0
Nan in row  2312  :  0
Nan in row  2313  :  0
Nan in row  2314  :  0
Nan in row  2315  :  0
Nan in row  2316  :  0
Nan in row  2317  :  0
Nan in row  2318  :  0
Nan in row  2319  :  0
Nan in row  2320  :  0
Nan in row  2321  :  0
Nan in row  2322  :  0
Nan in row  2323  :  0
Nan in row  2324  :  0
Nan in row  2325  :  0
Nan in row  2326  :  0
Nan in row  2327  :  0
Nan in row  2328  :  0
Nan in row  2329  :  0
Nan in row  2330  :  0
Nan in row  2331  :  0
Nan in row  2332  :  0
Nan in row  2333  :  0
Nan in row  2334  :  0
Nan in row  2335  :  0
Nan in row  2336  :  0
Nan in row  2337  :  0
Nan in row  2338  :  0
Nan in row  2339  :  0
Nan in row  2340  :  0
Nan in row  2341  :  0
Nan in row  2342  :  0
Nan in row  2343  :  0
Nan in row  2344  :  0
Nan in row  2345  :  0
Nan in row  2346  :  0
Nan in row  2347  :  0
Nan in row  2348  :  0
Nan in row  2349  :  0
Nan in row  2350  :  0
Nan in row  2351  :  0
Nan in row  2352  :  0
Nan in row  2353  :  0
Nan in row  2354  :  0
Nan in row  2355  :  0
Nan in row  2356  :  0
Nan in row  2357  :  0
Nan in row  2358  :  0
Nan in row  2359  :  0
Nan in row  2360  :  0
Nan in row  2361  :  0
Nan in row  2362  :  0
Nan in row  2363  :  0
Nan in row  2364  :  0
Nan in row  2365  :  0
Nan in row  2366  :  0
Nan in row  2367  :  0
Nan in row  2368  :  0
Nan in row  2369  :  0
Nan in row  2370  :  0
Nan in row  2371  :  0
Nan in row  2372  :  0
Nan in row  2373  :  0
Nan in row  2374  :  0
Nan in row  2375  :  0
Nan in row  2376  :  0
Nan in row  2377  :  0
Nan in row  2378  :  0
Nan in row  2379  :  0
Nan in row  2380  :  0
Nan in row  2381  :  0
Nan in row  2382  :  0
Nan in row  2383  :  0
Nan in row  2384  :  0
Nan in row  2385  :  0
Nan in row  2386  :  0
Nan in row  2387  :  0
Nan in row  2388  :  0
Nan in row  2389  :  0
Nan in row  2390  :  0
Nan in row  2391  :  0
Nan in row  2392  :  0
Nan in row  2393  :  0
Nan in row  2394  :  0
Nan in row  2395  :  0
Nan in row  2396  :  0
Nan in row  2397  :  0
Nan in row  2398  :  0
Nan in row  2399  :  0
Nan in row  2400  :  0
Nan in row  2401  :  0
Nan in row  2402  :  0
Nan in row  2403  :  0
Nan in row  2404  :  0
Nan in row  2405  :  0
Nan in row  2406  :  0
Nan in row  2407  :  0
Nan in row  2408  :  0
Nan in row  2409  :  0
Nan in row  2410  :  0
Nan in row  2411  :  0
Nan in row  2412  :  0
Nan in row  2413  :  0
Nan in row  2414  :  0
Nan in row  2415  :  0
Nan in row  2416  :  0
Nan in row  2417  :  0
Nan in row  2418  :  0
Nan in row  2419  :  0
Nan in row  2420  :  0
Nan in row  2421  :  0
Nan in row  2422  :  0
Nan in row  2423  :  0
Nan in row  2424  :  0
Nan in row  2425  :  0
Nan in row  2426  :  0
Nan in row  2427  :  0
Nan in row  2428  :  0
Nan in row  2429  :  0
Nan in row  2430  :  0
Nan in row  2431  :  0
Nan in row  2432  :  0
Nan in row  2433  :  0
Nan in row  2434  :  0
Nan in row  2435  :  0
Nan in row  2436  :  0
Nan in row  2437  :  0
Nan in row  2438  :  0
Nan in row  2439  :  0
Nan in row  2440  :  0
Nan in row  2441  :  0
Nan in row  2442  :  0
Nan in row  2443  :  0
Nan in row  2444  :  0
Nan in row  2445  :  0
Nan in row  2446  :  0
Nan in row  2447  :  0
Nan in row  2448  :  0
Nan in row  2449  :  0
Nan in row  2450  :  0
Nan in row  2451  :  0
Nan in row  2452  :  0
Nan in row  2453  :  0
Nan in row  2454  :  0
Nan in row  2455  :  0
Nan in row  2456  :  0
Nan in row  2457  :  0
Nan in row  2458  :  0
Nan in row  2459  :  0
Nan in row  2460  :  0
Nan in row  2461  :  0
Nan in row  2462  :  0
Nan in row  2463  :  0
Nan in row  2464  :  0
Nan in row  2465  :  0
Nan in row  2466  :  0
Nan in row  2467  :  0
Nan in row  2468  :  0
Nan in row  2469  :  0
Nan in row  2470  :  0
Nan in row  2471  :  0
Nan in row  2472  :  0
Nan in row  2473  :  0
Nan in row  2474  :  0
Nan in row  2475  :  0
Nan in row  2476  :  0
Nan in row  2477  :  0
Nan in row  2478  :  0
Nan in row  2479  :  0
Nan in row  2480  :  0
Nan in row  2481  :  0
Nan in row  2482  :  0
Nan in row  2483  :  0

Nan in row  2484  :  0
Nan in row  2485  :  0
Nan in row  2486  :  0
Nan in row  2487  :  0
Nan in row  2488  :  0
Nan in row  2489  :  0
Nan in row  2490  :  0
Nan in row  2491  :  0
Nan in row  2492  :  0
Nan in row  2493  :  0
Nan in row  2494  :  0
Nan in row  2495  :  0
Nan in row  2496  :  0
Nan in row  2497  :  0
Nan in row  2498  :  0
Nan in row  2499  :  0
Nan in row  2500  :  0
Nan in row  2501  :  0
Nan in row  2502  :  0
Nan in row  2503  :  0
Nan in row  2504  :  0
Nan in row  2505  :  0
Nan in row  2506  :  0
Nan in row  2507  :  0
Nan in row  2508  :  0
Nan in row  2509  :  0
Nan in row  2510  :  0
Nan in row  2511  :  0
Nan in row  2512  :  0
Nan in row  2513  :  0
Nan in row  2514  :  0
Nan in row  2515  :  0
Nan in row  2516  :  0
Nan in row  2517  :  0
Nan in row  2518  :  0
Nan in row  2519  :  0
Nan in row  2520  :  0
Nan in row  2521  :  0
Nan in row  2522  :  0
Nan in row  2523  :  0
Nan in row  2524  :  0
Nan in row  2525  :  0
Nan in row  2526  :  0
Nan in row  2527  :  0
Nan in row  2528  :  0
Nan in row  2529  :  0
Nan in row  2530  :  0
Nan in row  2531  :  0
Nan in row  2532  :  0
Nan in row  2533  :  0
Nan in row  2534  :  0
Nan in row  2535  :  0
Nan in row  2536  :  0
Nan in row  2537  :  0
Nan in row  2538  :  0
Nan in row  2539  :  0
Nan in row  2540  :  0
Nan in row  2541  :  0
Nan in row  2542  :  0
Nan in row  2543  :  0
Nan in row  2544  :  0
Nan in row  2545  :  0
Nan in row  2546  :  0
Nan in row  2547  :  0
Nan in row  2548  :  0
Nan in row  2549  :  0
Nan in row  2550  :  0
Nan in row  2551  :  0
Nan in row  2552  :  0
Nan in row  2553  :  0
Nan in row  2554  :  0
Nan in row  2555  :  0
Nan in row  2556  :  0
Nan in row  2557  :  0
Nan in row  2558  :  0
Nan in row  2559  :  0
Nan in row  2560  :  0
Nan in row  2561  :  0
Nan in row  2562  :  0
Nan in row  2563  :  0
Nan in row  2564  :  0
Nan in row  2565  :  0
Nan in row  2566  :  0
Nan in row  2567  :  0
Nan in row  2568  :  0
Nan in row  2569  :  0
Nan in row  2570  :  0
Nan in row  2571  :  0
Nan in row  2572  :  0
Nan in row  2573  :  0
Nan in row  2574  :  0
Nan in row  2575  :  0
Nan in row  2576  :  0
Nan in row  2577  :  0
Nan in row  2578  :  0
Nan in row  2579  :  0
Nan in row  2580  :  0
Nan in row  2581  :  0
Nan in row  2582  :  0
Nan in row  2583  :  0
Nan in row  2584  :  0
Nan in row  2585  :  0
Nan in row  2586  :  0
Nan in row  2587  :  0
Nan in row  2588  :  0
Nan in row  2589  :  0
Nan in row  2590  :  0
Nan in row  2591  :  0
Nan in row  2592  :  0
Nan in row  2593  :  0
Nan in row  2594  :  0
Nan in row  2595  :  0
Nan in row  2596  :  0
Nan in row  2597  :  0
Nan in row  2598  :  0
Nan in row  2599  :  0
Nan in row  2600  :  0
Nan in row  2601  :  0
Nan in row  2602  :  0
Nan in row  2603  :  0
Nan in row  2604  :  0
Nan in row  2605  :  0
Nan in row  2606  :  0
Nan in row  2607  :  0
Nan in row  2608  :  0
Nan in row  2609  :  0
Nan in row  2610  :  0
Nan in row  2611  :  0
Nan in row  2612  :  0
Nan in row  2613  :  0
Nan in row  2614  :  0
Nan in row  2615  :  0
Nan in row  2616  :  0
Nan in row  2617  :  0
Nan in row  2618  :  0
Nan in row  2619  :  0
Nan in row  2620  :  0
Nan in row  2621  :  0
Nan in row  2622  :  0
Nan in row  2623  :  0
Nan in row  2624  :  0
Nan in row  2625  :  0
Nan in row  2626  :  0
Nan in row  2627  :  0
Nan in row  2628  :  0
Nan in row  2629  :  0
Nan in row  2630  :  0
Nan in row  2631  :  0
Nan in row  2632  :  0
Nan in row  2633  :  0
Nan in row  2634  :  0
Nan in row  2635  :  0
Nan in row  2636  :  0
Nan in row  2637  :  0
Nan in row  2638  :  0
Nan in row  2639  :  0
Nan in row  2640  :  0
Nan in row  2641  :  0
Nan in row  2642  :  0
Nan in row  2643  :  0
Nan in row  2644  :  0
Nan in row  2645  :  0
Nan in row  2646  :  0
Nan in row  2647  :  0
Nan in row  2648  :  0
Nan in row  2649  :  0
Nan in row  2650  :  0
Nan in row  2651  :  0
Nan in row  2652  :  0
Nan in row  2653  :  0
Nan in row  2654  :  0
Nan in row  2655  :  0
Nan in row  2656  :  0
Nan in row  2657  :  0
Nan in row  2658  :  0
Nan in row  2659  :  0
Nan in row  2660  :  0
Nan in row  2661  :  0
Nan in row  2662  :  0
Nan in row  2663  :  0
Nan in row  2664  :  0
Nan in row  2665  :  0
Nan in row  2666  :  0
Nan in row  2667  :  0
Nan in row  2668  :  0
Nan in row  2669  :  0
Nan in row  2670  :  0
Nan in row  2671  :  0
Nan in row  2672  :  0
Nan in row  2673  :  0
Nan in row  2674  :  0
Nan in row  2675  :  0
Nan in row  2676  :  0
Nan in row  2677  :  0
Nan in row  2678  :  0
Nan in row  2679  :  0
Nan in row  2680  :  0
Nan in row  2681  :  0
Nan in row  2682  :  0
Nan in row  2683  :  0
Nan in row  2684  :  0
Nan in row  2685  :  0
Nan in row  2686  :  0
Nan in row  2687  :  0
Nan in row  2688  :  0
Nan in row  2689  :  0
Nan in row  2690  :  0
Nan in row  2691  :  0
Nan in row  2692  :  0
Nan in row  2693  :  0
Nan in row  2694  :  0
Nan in row  2695  :  0
Nan in row  2696  :  0
Nan in row  2697  :  0
Nan in row  2698  :  0
Nan in row  2699  :  0
Nan in row  2700  :  0
Nan in row  2701  :  0
Nan in row  2702  :  0
Nan in row  2703  :  0
Nan in row  2704  :  0
Nan in row  2705  :  0
Nan in row  2706  :  0
Nan in row  2707  :  0
Nan in row  2708  :  0
Nan in row  2709  :  0
Nan in row  2710  :  0
Nan in row  2711  :  0
Nan in row  2712  :  0
Nan in row  2713  :  0
Nan in row  2714  :  0
Nan in row  2715  :  0
Nan in row  2716  :  0
Nan in row  2717  :  0
Nan in row  2718  :  0
Nan in row  2719  :  0
Nan in row  2720  :  0
Nan in row  2721  :  0
Nan in row  2722  :  0
Nan in row  2723  :  0
Nan in row  2724  :  0
Nan in row  2725  :  0
Nan in row  2726  :  0
Nan in row  2727  :  0
Nan in row  2728  :  0
Nan in row  2729  :  0
Nan in row  2730  :  0
Nan in row  2731  :  0
Nan in row  2732  :  0
Nan in row  2733  :  0
Nan in row  2734  :  0
Nan in row  2735  :  0
Nan in row  2736  :  0
Nan in row  2737  :  0
Nan in row  2738  :  0
Nan in row  2739  :  0
Nan in row  2740  :  0
Nan in row  2741  :  0
Nan in row  2742  :  0
Nan in row  2743  :  0
Nan in row  2744  :  0
Nan in row  2745  :  0
Nan in row  2746  :  0
Nan in row  2747  :  0
Nan in row  2748  :  0
Nan in row  2749  :  0
Nan in row  2750  :  0
Nan in row  2751  :  0
Nan in row  2752  :  0
Nan in row  2753  :  0
Nan in row  2754  :  0
Nan in row  2755  :  0
Nan in row  2756  :  0
Nan in row  2757  :  0
Nan in row  2758  :  0
Nan in row  2759  :  0
Nan in row  2760  :  0
Nan in row  2761  :  0
Nan in row  2762  :  0
Nan in row  2763  :  0
Nan in row  2764  :  0
Nan in row  2765  :  0
Nan in row  2766  :  0
Nan in row  2767  :  0
Nan in row  2768  :  0
Nan in row  2769  :  0
Nan in row  2770  :  0
Nan in row  2771  :  0
Nan in row  2772  :  0
Nan in row  2773  :  0
Nan in row  2774  :  0
Nan in row  2775  :  0
Nan in row  2776  :  0
Nan in row  2777  :  0
Nan in row  2778  :  0
Nan in row  2779  :  0
Nan in row  2780  :  0
Nan in row  2781  :  0
Nan in row  2782  :  0
Nan in row  2783  :  0
Nan in row  2784  :  0
Nan in row  2785  :  0
Nan in row  2786  :  0
Nan in row  2787  :  0
Nan in row  2788  :  0
Nan in row  2789  :  0
Nan in row  2790  :  0
Nan in row  2791  :  0
Nan in row  2792  :  0
Nan in row  2793  :  0
Nan in row  2794  :  0
Nan in row  2795  :  0
Nan in row  2796  :  0
Nan in row  2797  :  0
Nan in row  2798  :  0
Nan in row  2799  :  0
Nan in row  2800  :  0
Nan in row  2801  :  0
Nan in row  2802  :  0
Nan in row  2803  :  0
Nan in row  2804  :  0
Nan in row  2805  :  0
Nan in row  2806  :  0
Nan in row  2807  :  0
Nan in row  2808  :  0
Nan in row  2809  :  0
Nan in row  2810  :  0
Nan in row  2811  :  0
Nan in row  2812  :  0
Nan in row  2813  :  0
Nan in row  2814  :  0
Nan in row  2815  :  0
Nan in row  2816  :  0
Nan in row  2817  :  0
Nan in row  2818  :  0
Nan in row  2819  :  0
Nan in row  2820  :  0
Nan in row  2821  :  0
Nan in row  2822  :  0
Nan in row  2823  :  0
Nan in row  2824  :  0
Nan in row  2825  :  0
Nan in row  2826  :  0
Nan in row  2827  :  0
Nan in row  2828  :  0
Nan in row  2829  :  0
Nan in row  2830  :  0
Nan in row  2831  :  0
Nan in row  2832  :  0
Nan in row  2833  :  0
Nan in row  2834  :  0
Nan in row  2835  :  0
Nan in row  2836  :  0
Nan in row  2837  :  0
Nan in row  2838  :  0
Nan in row  2839  :  0
Nan in row  2840  :  0
Nan in row  2841  :  0
Nan in row  2842  :  0
Nan in row  2843  :  0
Nan in row  2844  :  0
Nan in row  2845  :  0
Nan in row  2846  :  0
Nan in row  2847  :  0
Nan in row  2848  :  0
Nan in row  2849  :  0
Nan in row  2850  :  0
Nan in row  2851  :  0
Nan in row  2852  :  0
Nan in row  2853  :  0
Nan in row  2854  :  0

Nan in row  2855  :  0
Nan in row  2856  :  0
Nan in row  2857  :  0
Nan in row  2858  :  0
Nan in row  2859  :  0
Nan in row  2860  :  0
Nan in row  2861  :  0
Nan in row  2862  :  0
Nan in row  2863  :  0
Nan in row  2864  :  0
Nan in row  2865  :  0
Nan in row  2866  :  0
Nan in row  2867  :  0
Nan in row  2868  :  0
Nan in row  2869  :  0
Nan in row  2870  :  0
Nan in row  2871  :  0
Nan in row  2872  :  0
Nan in row  2873  :  0
Nan in row  2874  :  0
Nan in row  2875  :  0
Nan in row  2876  :  0
Nan in row  2877  :  0
Nan in row  2878  :  0
Nan in row  2879  :  0
Nan in row  2880  :  0
Nan in row  2881  :  0
Nan in row  2882  :  0
Nan in row  2883  :  0
Nan in row  2884  :  0
Nan in row  2885  :  0
Nan in row  2886  :  0
Nan in row  2887  :  0
Nan in row  2888  :  0
Nan in row  2889  :  0
Nan in row  2890  :  0
Nan in row  2891  :  0
Nan in row  2892  :  0
Nan in row  2893  :  0
Nan in row  2894  :  0
Nan in row  2895  :  0
Nan in row  2896  :  0
Nan in row  2897  :  0
Nan in row  2898  :  0
Nan in row  2899  :  0
Nan in row  2900  :  0
Nan in row  2901  :  0
Nan in row  2902  :  0
Nan in row  2903  :  0
Nan in row  2904  :  0
Nan in row  2905  :  0
Nan in row  2906  :  0
Nan in row  2907  :  0
Nan in row  2908  :  0
Nan in row  2909  :  0
Nan in row  2910  :  0
Nan in row  2911  :  0
Nan in row  2912  :  0
Nan in row  2913  :  0
Nan in row  2914  :  0
Nan in row  2915  :  0
Nan in row  2916  :  0
Nan in row  2917  :  0
Nan in row  2918  :  0
Nan in row  2919  :  0
Nan in row  2920  :  0
Nan in row  2921  :  0
Nan in row  2922  :  0
Nan in row  2923  :  0
Nan in row  2924  :  0
Nan in row  2925  :  0
Nan in row  2926  :  0
Nan in row  2927  :  0
Nan in row  2928  :  0
Nan in row  2929  :  0
Nan in row  2930  :  0
Nan in row  2931  :  0
Nan in row  2932  :  0
Nan in row  2933  :  0
Nan in row  2934  :  0
Nan in row  2935  :  0
Nan in row  2936  :  0
Nan in row  2937  :  0
Nan in row  2938  :  0
Nan in row  2939  :  0
Nan in row  2940  :  0
Nan in row  2941  :  0
Nan in row  2942  :  0
Nan in row  2943  :  0
Nan in row  2944  :  0
Nan in row  2945  :  0
Nan in row  2946  :  0
Nan in row  2947  :  0
Nan in row  2948  :  0
Nan in row  2949  :  0
Nan in row  2950  :  0
Nan in row  2951  :  0
Nan in row  2952  :  0
Nan in row  2953  :  0
Nan in row  2954  :  0
Nan in row  2955  :  0
Nan in row  2956  :  0
Nan in row  2957  :  0
Nan in row  2958  :  0
Nan in row  2959  :  0
Nan in row  2960  :  0
Nan in row  2961  :  0
Nan in row  2962  :  0
Nan in row  2963  :  0
Nan in row  2964  :  0
Nan in row  2965  :  0
Nan in row  2966  :  0
Nan in row  2967  :  0
Nan in row  2968  :  0
Nan in row  2969  :  0
Nan in row  2970  :  0
Nan in row  2971  :  0
Nan in row  2972  :  0
Nan in row  2973  :  0
Nan in row  2974  :  0
Nan in row  2975  :  0
Nan in row  2976  :  0
Nan in row  2977  :  0
Nan in row  2978  :  0
Nan in row  2979  :  0
Nan in row  2980  :  0
Nan in row  2981  :  0
Nan in row  2982  :  0
Nan in row  2983  :  0
Nan in row  2984  :  0
Nan in row  2985  :  0
Nan in row  2986  :  0
Nan in row  2987  :  0
Nan in row  2988  :  0
Nan in row  2989  :  0
Nan in row  2990  :  0
Nan in row  2991  :  0
Nan in row  2992  :  0
Nan in row  2993  :  0
Nan in row  2994  :  0
Nan in row  2995  :  0
Nan in row  2996  :  0
Nan in row  2997  :  0
Nan in row  2998  :  0
Nan in row  2999  :  0
Nan in row  3000  :  0
Nan in row  3001  :  0
Nan in row  3002  :  0
Nan in row  3003  :  0
Nan in row  3004  :  0
Nan in row  3005  :  0
Nan in row  3006  :  0
Nan in row  3007  :  0
Nan in row  3008  :  0
Nan in row  3009  :  0
Nan in row  3010  :  0
Nan in row  3011  :  0
Nan in row  3012  :  0
Nan in row  3013  :  0
Nan in row  3014  :  0
Nan in row  3015  :  0
Nan in row  3016  :  0
Nan in row  3017  :  0
Nan in row  3018  :  0
Nan in row  3019  :  0
Nan in row  3020  :  0
Nan in row  3021  :  0
Nan in row  3022  :  0
Nan in row  3023  :  0
Nan in row  3024  :  0
Nan in row  3025  :  0
Nan in row  3026  :  0
Nan in row  3027  :  0
Nan in row  3028  :  0
Nan in row  3029  :  0
Nan in row  3030  :  0
Nan in row  3031  :  0
Nan in row  3032  :  0
Nan in row  3033  :  0
Nan in row  3034  :  0
Nan in row  3035  :  0
Nan in row  3036  :  0
Nan in row  3037  :  0
Nan in row  3038  :  0
Nan in row  3039  :  0
Nan in row  3040  :  0
Nan in row  3041  :  0
Nan in row  3042  :  0
Nan in row  3043  :  0
Nan in row  3044  :  0
Nan in row  3045  :  0
Nan in row  3046  :  0
Nan in row  3047  :  0
Nan in row  3048  :  0
Nan in row  3049  :  0
Nan in row  3050  :  0
Nan in row  3051  :  0
Nan in row  3052  :  0
Nan in row  3053  :  0
Nan in row  3054  :  0
Nan in row  3055  :  0
Nan in row  3056  :  0
Nan in row  3057  :  0
Nan in row  3058  :  0
Nan in row  3059  :  0
Nan in row  3060  :  0
Nan in row  3061  :  0
Nan in row  3062  :  0
Nan in row  3063  :  0
Nan in row  3064  :  0
Nan in row  3065  :  0
Nan in row  3066  :  0
Nan in row  3067  :  0
Nan in row  3068  :  0
Nan in row  3069  :  0
Nan in row  3070  :  0
Nan in row  3071  :  0
Nan in row  3072  :  0
Nan in row  3073  :  0
Nan in row  3074  :  0
Nan in row  3075  :  0
Nan in row  3076  :  0
Nan in row  3077  :  0
Nan in row  3078  :  0
Nan in row  3079  :  0
Nan in row  3080  :  0
Nan in row  3081  :  0
Nan in row  3082  :  0
Nan in row  3083  :  0
Nan in row  3084  :  0
Nan in row  3085  :  0
Nan in row  3086  :  0
Nan in row  3087  :  0
Nan in row  3088  :  0
Nan in row  3089  :  0
Nan in row  3090  :  0
Nan in row  3091  :  0
Nan in row  3092  :  0
Nan in row  3093  :  0
Nan in row  3094  :  0
Nan in row  3095  :  0
Nan in row  3096  :  0
Nan in row  3097  :  0
Nan in row  3098  :  0
Nan in row  3099  :  0
Nan in row  3100  :  0
Nan in row  3101  :  0
Nan in row  3102  :  0
Nan in row  3103  :  0
Nan in row  3104  :  0
Nan in row  3105  :  0
Nan in row  3106  :  0
Nan in row  3107  :  0
Nan in row  3108  :  0
Nan in row  3109  :  0
Nan in row  3110  :  0
Nan in row  3111  :  0
Nan in row  3112  :  0
Nan in row  3113  :  0
Nan in row  3114  :  0
Nan in row  3115  :  0
Nan in row  3116  :  0
Nan in row  3117  :  0
Nan in row  3118  :  0
Nan in row  3119  :  0
Nan in row  3120  :  0
Nan in row  3121  :  0
Nan in row  3122  :  0
Nan in row  3123  :  0
Nan in row  3124  :  0
Nan in row  3125  :  0
Nan in row  3126  :  0
Nan in row  3127  :  0
Nan in row  3128  :  0
Nan in row  3129  :  0
Nan in row  3130  :  0
Nan in row  3131  :  0
Nan in row  3132  :  0
Nan in row  3133  :  0
Nan in row  3134  :  0
Nan in row  3135  :  0
Nan in row  3136  :  0
Nan in row  3137  :  0
Nan in row  3138  :  0
Nan in row  3139  :  0
Nan in row  3140  :  0
Nan in row  3141  :  0
Nan in row  3142  :  0
Nan in row  3143  :  0
Nan in row  3144  :  0
Nan in row  3145  :  0
Nan in row  3146  :  0
Nan in row  3147  :  0
Nan in row  3148  :  0
Nan in row  3149  :  0
Nan in row  3150  :  0
Nan in row  3151  :  0
Nan in row  3152  :  0
Nan in row  3153  :  0
Nan in row  3154  :  0
Nan in row  3155  :  0
Nan in row  3156  :  0
Nan in row  3157  :  0
Nan in row  3158  :  0
Nan in row  3159  :  0
Nan in row  3160  :  0
Nan in row  3161  :  0
Nan in row  3162  :  0
Nan in row  3163  :  0
Nan in row  3164  :  0
Nan in row  3165  :  0
Nan in row  3166  :  0
Nan in row  3167  :  0
Nan in row  3168  :  0
Nan in row  3169  :  0
Nan in row  3170  :  0
Nan in row  3171  :  0
Nan in row  3172  :  0
Nan in row  3173  :  0
Nan in row  3174  :  0
Nan in row  3175  :  0
Nan in row  3176  :  0
Nan in row  3177  :  0
Nan in row  3178  :  0
Nan in row  3179  :  0
Nan in row  3180  :  0
Nan in row  3181  :  0
Nan in row  3182  :  0
Nan in row  3183  :  0
Nan in row  3184  :  0
Nan in row  3185  :  0
Nan in row  3186  :  0
Nan in row  3187  :  0
Nan in row  3188  :  0
Nan in row  3189  :  0
Nan in row  3190  :  0
Nan in row  3191  :  0
Nan in row  3192  :  0
Nan in row  3193  :  0
Nan in row  3194  :  0
Nan in row  3195  :  0
Nan in row  3196  :  0
Nan in row  3197  :  0
Nan in row  3198  :  0
Nan in row  3199  :  0
Nan in row  3200  :  0
Nan in row  3201  :  0
Nan in row  3202  :  0
Nan in row  3203  :  0
Nan in row  3204  :  0
Nan in row  3205  :  0
Nan in row  3206  :  0
Nan in row  3207  :  0
Nan in row  3208  :  0
Nan in row  3209  :  0
Nan in row  3210  :  0
Nan in row  3211  :  0
Nan in row  3212  :  0
Nan in row  3213  :  0
Nan in row  3214  :  0
Nan in row  3215  :  0
Nan in row  3216  :  0
Nan in row  3217  :  0
Nan in row  3218  :  0
Nan in row  3219  :  0
Nan in row  3220  :  0
Nan in row  3221  :  0
Nan in row  3222  :  0
Nan in row  3223  :  0
Nan in row  3224  :  0
Nan in row  3225  :  0
Nan in row  3226  :  0
Nan in row  3227  :  0
Nan in row  3228  :  0
Nan in row  3229  :  0
Nan in row  3230  :  0
Nan in row  3231  :  0
Nan in row  3232  :  0
Nan in row  3233  :  0
Nan in row  3234  :  0
Nan in row  3235  :  0
Nan in row  3236  :  0
Nan in row  3237  :  0
Nan in row  3238  :  0
Nan in row  3239  :  0
Nan in row  3240  :  0
Nan in row  3241  :  0

Nan in row  3242  :  0
Nan in row  3243  :  0
Nan in row  3244  :  0
Nan in row  3245  :  0
Nan in row  3246  :  0
Nan in row  3247  :  0
Nan in row  3248  :  0
Nan in row  3249  :  0
Nan in row  3250  :  0
Nan in row  3251  :  0
Nan in row  3252  :  0
Nan in row  3253  :  0
Nan in row  3254  :  0
Nan in row  3255  :  0
Nan in row  3256  :  0
Nan in row  3257  :  0
Nan in row  3258  :  0
Nan in row  3259  :  0
Nan in row  3260  :  0
Nan in row  3261  :  0
Nan in row  3262  :  0
Nan in row  3263  :  0
Nan in row  3264  :  0
Nan in row  3265  :  0
Nan in row  3266  :  0
Nan in row  3267  :  0
Nan in row  3268  :  0
Nan in row  3269  :  0
Nan in row  3270  :  0
Nan in row  3271  :  0
Nan in row  3272  :  0
Nan in row  3273  :  0
Nan in row  3274  :  0
Nan in row  3275  :  0
Nan in row  3276  :  0
Nan in row  3277  :  0
Nan in row  3278  :  0
Nan in row  3279  :  0
Nan in row  3280  :  0
Nan in row  3281  :  0
Nan in row  3282  :  0
Nan in row  3283  :  0
Nan in row  3284  :  0
Nan in row  3285  :  0
Nan in row  3286  :  0
Nan in row  3287  :  0
Nan in row  3288  :  0
Nan in row  3289  :  0
Nan in row  3290  :  0
Nan in row  3291  :  0
Nan in row  3292  :  0
Nan in row  3293  :  0
Nan in row  3294  :  0
Nan in row  3295  :  0
Nan in row  3296  :  0
Nan in row  3297  :  0
Nan in row  3298  :  0
Nan in row  3299  :  0
Nan in row  3300  :  0
Nan in row  3301  :  0
Nan in row  3302  :  0
Nan in row  3303  :  0
Nan in row  3304  :  0
Nan in row  3305  :  0
Nan in row  3306  :  0
Nan in row  3307  :  0
Nan in row  3308  :  0
Nan in row  3309  :  0
Nan in row  3310  :  0
Nan in row  3311  :  0
Nan in row  3312  :  0
Nan in row  3313  :  0
Nan in row  3314  :  0
Nan in row  3315  :  0
Nan in row  3316  :  0
Nan in row  3317  :  0
Nan in row  3318  :  0
Nan in row  3319  :  0
Nan in row  3320  :  0
Nan in row  3321  :  0
Nan in row  3322  :  0
Nan in row  3323  :  0
Nan in row  3324  :  0
Nan in row  3325  :  0
Nan in row  3326  :  0
Nan in row  3327  :  0
Nan in row  3328  :  0
Nan in row  3329  :  0
Nan in row  3330  :  0
Nan in row  3331  :  0
Nan in row  3332  :  0
Nan in row  3333  :  0
Nan in row  3334  :  0
Nan in row  3335  :  0
Nan in row  3336  :  0
Nan in row  3337  :  0
Nan in row  3338  :  0
Nan in row  3339  :  0
Nan in row  3340  :  0
Nan in row  3341  :  0
Nan in row  3342  :  0
Nan in row  3343  :  0
Nan in row  3344  :  0
Nan in row  3345  :  0
Nan in row  3346  :  0
Nan in row  3347  :  0
Nan in row  3348  :  0
Nan in row  3349  :  0
Nan in row  3350  :  0
Nan in row  3351  :  0
Nan in row  3352  :  0
Nan in row  3353  :  0
Nan in row  3354  :  0
Nan in row  3355  :  0
Nan in row  3356  :  0
Nan in row  3357  :  0
Nan in row  3358  :  0
Nan in row  3359  :  0
Nan in row  3360  :  0
Nan in row  3361  :  0
Nan in row  3362  :  0
Nan in row  3363  :  0
Nan in row  3364  :  0
Nan in row  3365  :  0
Nan in row  3366  :  0
Nan in row  3367  :  0
Nan in row  3368  :  0
Nan in row  3369  :  0
Nan in row  3370  :  0
Nan in row  3371  :  0
Nan in row  3372  :  0
Nan in row  3373  :  0
Nan in row  3374  :  0
Nan in row  3375  :  0
Nan in row  3376  :  0
Nan in row  3377  :  0
Nan in row  3378  :  0
Nan in row  3379  :  0
Nan in row  3380  :  0
Nan in row  3381  :  0
Nan in row  3382  :  0
Nan in row  3383  :  0
Nan in row  3384  :  0
Nan in row  3385  :  0
Nan in row  3386  :  0
Nan in row  3387  :  0
Nan in row  3388  :  0
Nan in row  3389  :  0
Nan in row  3390  :  0
Nan in row  3391  :  0
Nan in row  3392  :  0
Nan in row  3393  :  0
Nan in row  3394  :  0
Nan in row  3395  :  0
Nan in row  3396  :  0
Nan in row  3397  :  0
Nan in row  3398  :  0
Nan in row  3399  :  0
Nan in row  3400  :  0
Nan in row  3401  :  0
Nan in row  3402  :  0
Nan in row  3403  :  0
Nan in row  3404  :  0
Nan in row  3405  :  0
Nan in row  3406  :  0
Nan in row  3407  :  0
Nan in row  3408  :  0
Nan in row  3409  :  0
Nan in row  3410  :  0
Nan in row  3411  :  0
Nan in row  3412  :  0
Nan in row  3413  :  0
Nan in row  3414  :  0
Nan in row  3415  :  0
Nan in row  3416  :  0
Nan in row  3417  :  0
Nan in row  3418  :  0
Nan in row  3419  :  0
Nan in row  3420  :  0
Nan in row  3421  :  0
Nan in row  3422  :  0
Nan in row  3423  :  0
Nan in row  3424  :  0
Nan in row  3425  :  0
Nan in row  3426  :  0
Nan in row  3427  :  0
Nan in row  3428  :  0
Nan in row  3429  :  0
Nan in row  3430  :  0
Nan in row  3431  :  0
Nan in row  3432  :  0
Nan in row  3433  :  0
Nan in row  3434  :  0
Nan in row  3435  :  0
Nan in row  3436  :  0
Nan in row  3437  :  0
Nan in row  3438  :  0
Nan in row  3439  :  0
Nan in row  3440  :  0
Nan in row  3441  :  0
Nan in row  3442  :  0
Nan in row  3443  :  0
Nan in row  3444  :  0
Nan in row  3445  :  0
Nan in row  3446  :  0
Nan in row  3447  :  0
Nan in row  3448  :  0
Nan in row  3449  :  0
Nan in row  3450  :  0
Nan in row  3451  :  0
Nan in row  3452  :  0
Nan in row  3453  :  0
Nan in row  3454  :  0
Nan in row  3455  :  0
Nan in row  3456  :  0
Nan in row  3457  :  0
Nan in row  3458  :  0
Nan in row  3459  :  0
Nan in row  3460  :  0
Nan in row  3461  :  0
Nan in row  3462  :  0
Nan in row  3463  :  0
Nan in row  3464  :  0
Nan in row  3465  :  0
Nan in row  3466  :  0
Nan in row  3467  :  0
Nan in row  3468  :  0
Nan in row  3469  :  0
Nan in row  3470  :  0
Nan in row  3471  :  0
Nan in row  3472  :  0
Nan in row  3473  :  0
Nan in row  3474  :  0
Nan in row  3475  :  0
Nan in row  3476  :  0
Nan in row  3477  :  0
Nan in row  3478  :  0
Nan in row  3479  :  0
Nan in row  3480  :  0
Nan in row  3481  :  0
Nan in row  3482  :  0
Nan in row  3483  :  0
Nan in row  3484  :  0
Nan in row  3485  :  0
Nan in row  3486  :  0
Nan in row  3487  :  0
Nan in row  3488  :  0
Nan in row  3489  :  0
Nan in row  3490  :  0
Nan in row  3491  :  0
Nan in row  3492  :  0
Nan in row  3493  :  0
Nan in row  3494  :  0
Nan in row  3495  :  0
Nan in row  3496  :  0
Nan in row  3497  :  0
Nan in row  3498  :  0
Nan in row  3499  :  0
Nan in row  3500  :  0
Nan in row  3501  :  0
Nan in row  3502  :  0
Nan in row  3503  :  0
Nan in row  3504  :  0
Nan in row  3505  :  0
Nan in row  3506  :  0
Nan in row  3507  :  0
Nan in row  3508  :  0
Nan in row  3509  :  0
Nan in row  3510  :  0
Nan in row  3511  :  0
Nan in row  3512  :  0
Nan in row  3513  :  0
Nan in row  3514  :  0
Nan in row  3515  :  0
Nan in row  3516  :  0
Nan in row  3517  :  0
Nan in row  3518  :  0
Nan in row  3519  :  0
Nan in row  3520  :  0
Nan in row  3521  :  0
Nan in row  3522  :  0
Nan in row  3523  :  0
Nan in row  3524  :  0
Nan in row  3525  :  0
Nan in row  3526  :  0
Nan in row  3527  :  0
Nan in row  3528  :  0
Nan in row  3529  :  0
Nan in row  3530  :  0
Nan in row  3531  :  0
Nan in row  3532  :  0
Nan in row  3533  :  0
Nan in row  3534  :  0
Nan in row  3535  :  0
Nan in row  3536  :  0
Nan in row  3537  :  0
Nan in row  3538  :  0
Nan in row  3539  :  0
Nan in row  3540  :  0
Nan in row  3541  :  0
Nan in row  3542  :  0
Nan in row  3543  :  0
Nan in row  3544  :  0
Nan in row  3545  :  0
Nan in row  3546  :  0
Nan in row  3547  :  0
Nan in row  3548  :  0
Nan in row  3549  :  0
Nan in row  3550  :  0
Nan in row  3551  :  0
Nan in row  3552  :  0
Nan in row  3553  :  0
Nan in row  3554  :  0
Nan in row  3555  :  0
Nan in row  3556  :  0
Nan in row  3557  :  0
Nan in row  3558  :  0
Nan in row  3559  :  0
Nan in row  3560  :  0
Nan in row  3561  :  0
Nan in row  3562  :  0
Nan in row  3563  :  0
Nan in row  3564  :  0
Nan in row  3565  :  0
Nan in row  3566  :  0
Nan in row  3567  :  0
Nan in row  3568  :  0
Nan in row  3569  :  0
Nan in row  3570  :  0
Nan in row  3571  :  0
Nan in row  3572  :  0
Nan in row  3573  :  0
Nan in row  3574  :  0
Nan in row  3575  :  0
Nan in row  3576  :  0
Nan in row  3577  :  0
Nan in row  3578  :  0
Nan in row  3579  :  0
Nan in row  3580  :  0
Nan in row  3581  :  0
Nan in row  3582  :  0
Nan in row  3583  :  0
Nan in row  3584  :  0
Nan in row  3585  :  0
Nan in row  3586  :  0
Nan in row  3587  :  0
Nan in row  3588  :  0
Nan in row  3589  :  0
Nan in row  3590  :  0
Nan in row  3591  :  0
Nan in row  3592  :  0
Nan in row  3593  :  0
Nan in row  3594  :  0
Nan in row  3595  :  0
Nan in row  3596  :  0
Nan in row  3597  :  0
Nan in row  3598  :  0
Nan in row  3599  :  0
Nan in row  3600  :  0

Nan in row  3601  :  0
Nan in row  3602  :  0
Nan in row  3603  :  0
Nan in row  3604  :  0
Nan in row  3605  :  0
Nan in row  3606  :  0
Nan in row  3607  :  0
Nan in row  3608  :  0
Nan in row  3609  :  0
Nan in row  3610  :  0
Nan in row  3611  :  0
Nan in row  3612  :  0
Nan in row  3613  :  0
Nan in row  3614  :  0
Nan in row  3615  :  0
Nan in row  3616  :  0
Nan in row  3617  :  0
Nan in row  3618  :  0
Nan in row  3619  :  0
Nan in row  3620  :  0
Nan in row  3621  :  0
Nan in row  3622  :  0
Nan in row  3623  :  0
Nan in row  3624  :  0
Nan in row  3625  :  0
Nan in row  3626  :  0
Nan in row  3627  :  0
Nan in row  3628  :  0
Nan in row  3629  :  0
Nan in row  3630  :  0
Nan in row  3631  :  0
Nan in row  3632  :  0
Nan in row  3633  :  0
Nan in row  3634  :  0
Nan in row  3635  :  0
Nan in row  3636  :  0
Nan in row  3637  :  0
Nan in row  3638  :  0
Nan in row  3639  :  0
Nan in row  3640  :  0
Nan in row  3641  :  0
Nan in row  3642  :  0
Nan in row  3643  :  0
Nan in row  3644  :  0
Nan in row  3645  :  0
Nan in row  3646  :  0
Nan in row  3647  :  0
Nan in row  3648  :  0
Nan in row  3649  :  0
Nan in row  3650  :  0
Nan in row  3651  :  0
Nan in row  3652  :  0
Nan in row  3653  :  0
Nan in row  3654  :  0
Nan in row  3655  :  0
Nan in row  3656  :  0
Nan in row  3657  :  0
Nan in row  3658  :  0
Nan in row  3659  :  0
Nan in row  3660  :  0
Nan in row  3661  :  0
Nan in row  3662  :  0
Nan in row  3663  :  0
Nan in row  3664  :  0
Nan in row  3665  :  0
Nan in row  3666  :  0
Nan in row  3667  :  0
Nan in row  3668  :  0
Nan in row  3669  :  0
Nan in row  3670  :  0
Nan in row  3671  :  0
Nan in row  3672  :  0
Nan in row  3673  :  0
Nan in row  3674  :  0
Nan in row  3675  :  0
Nan in row  3676  :  0
Nan in row  3677  :  0
Nan in row  3678  :  0
Nan in row  3679  :  0
Nan in row  3680  :  0
Nan in row  3681  :  0
Nan in row  3682  :  0
Nan in row  3683  :  0
Nan in row  3684  :  0
Nan in row  3685  :  0
Nan in row  3686  :  0
Nan in row  3687  :  0
Nan in row  3688  :  0
Nan in row  3689  :  0
Nan in row  3690  :  0
Nan in row  3691  :  0
Nan in row  3692  :  0
Nan in row  3693  :  0
Nan in row  3694  :  0
Nan in row  3695  :  0
Nan in row  3696  :  0
Nan in row  3697  :  0
Nan in row  3698  :  0
Nan in row  3699  :  0
Nan in row  3700  :  0
Nan in row  3701  :  0
Nan in row  3702  :  0
Nan in row  3703  :  0
Nan in row  3704  :  0
Nan in row  3705  :  0
Nan in row  3706  :  0
Nan in row  3707  :  0
Nan in row  3708  :  0
Nan in row  3709  :  0
Nan in row  3710  :  0
Nan in row  3711  :  0
Nan in row  3712  :  0
Nan in row  3713  :  0
Nan in row  3714  :  0
Nan in row  3715  :  0
Nan in row  3716  :  0
Nan in row  3717  :  0
Nan in row  3718  :  0
Nan in row  3719  :  0
Nan in row  3720  :  0
Nan in row  3721  :  0
Nan in row  3722  :  0
Nan in row  3723  :  0
Nan in row  3724  :  0
Nan in row  3725  :  0
Nan in row  3726  :  0
Nan in row  3727  :  0
Nan in row  3728  :  0
Nan in row  3729  :  0
Nan in row  3730  :  0
Nan in row  3731  :  0
Nan in row  3732  :  0
Nan in row  3733  :  0
Nan in row  3734  :  0
Nan in row  3735  :  0
Nan in row  3736  :  0
Nan in row  3737  :  0
Nan in row  3738  :  0
Nan in row  3739  :  0
Nan in row  3740  :  0
Nan in row  3741  :  0
Nan in row  3742  :  0
Nan in row  3743  :  0
Nan in row  3744  :  0
Nan in row  3745  :  0
Nan in row  3746  :  0
Nan in row  3747  :  0
Nan in row  3748  :  0
Nan in row  3749  :  0
Nan in row  3750  :  0
Nan in row  3751  :  0
Nan in row  3752  :  0
Nan in row  3753  :  0
Nan in row  3754  :  0
Nan in row  3755  :  0
Nan in row  3756  :  0
Nan in row  3757  :  0
Nan in row  3758  :  0
Nan in row  3759  :  0
Nan in row  3760  :  0
Nan in row  3761  :  0
Nan in row  3762  :  0
Nan in row  3763  :  0
Nan in row  3764  :  0
Nan in row  3765  :  0
Nan in row  3766  :  0
Nan in row  3767  :  0
Nan in row  3768  :  0
Nan in row  3769  :  0
Nan in row  3770  :  0
Nan in row  3771  :  0
Nan in row  3772  :  0
Nan in row  3773  :  0
Nan in row  3774  :  0
Nan in row  3775  :  0
Nan in row  3776  :  0
Nan in row  3777  :  0
Nan in row  3778  :  0
Nan in row  3779  :  0
Nan in row  3780  :  0
Nan in row  3781  :  0
Nan in row  3782  :  0
Nan in row  3783  :  0
Nan in row  3784  :  0
Nan in row  3785  :  0
Nan in row  3786  :  0
Nan in row  3787  :  0
Nan in row  3788  :  0
Nan in row  3789  :  0
Nan in row  3790  :  0
Nan in row  3791  :  0
Nan in row  3792  :  0
Nan in row  3793  :  0
Nan in row  3794  :  0
Nan in row  3795  :  0
Nan in row  3796  :  0
Nan in row  3797  :  0
Nan in row  3798  :  0
Nan in row  3799  :  0
Nan in row  3800  :  0
Nan in row  3801  :  0
Nan in row  3802  :  0
Nan in row  3803  :  0
Nan in row  3804  :  0
Nan in row  3805  :  0
Nan in row  3806  :  0
Nan in row  3807  :  0
Nan in row  3808  :  0
Nan in row  3809  :  0
Nan in row  3810  :  0
Nan in row  3811  :  0
Nan in row  3812  :  0
Nan in row  3813  :  0
Nan in row  3814  :  0
Nan in row  3815  :  0
Nan in row  3816  :  0
Nan in row  3817  :  0
Nan in row  3818  :  0
Nan in row  3819  :  0
Nan in row  3820  :  0
Nan in row  3821  :  0
Nan in row  3822  :  0
Nan in row  3823  :  0
Nan in row  3824  :  0
Nan in row  3825  :  0
Nan in row  3826  :  0
Nan in row  3827  :  0
Nan in row  3828  :  0
Nan in row  3829  :  0
Nan in row  3830  :  0
Nan in row  3831  :  0
Nan in row  3832  :  0
Nan in row  3833  :  0
Nan in row  3834  :  0
Nan in row  3835  :  0
Nan in row  3836  :  0
Nan in row  3837  :  0
Nan in row  3838  :  0
Nan in row  3839  :  0
Nan in row  3840  :  0
Nan in row  3841  :  0
Nan in row  3842  :  0
Nan in row  3843  :  0
Nan in row  3844  :  0
Nan in row  3845  :  0
Nan in row  3846  :  0
Nan in row  3847  :  0
Nan in row  3848  :  0
Nan in row  3849  :  0
Nan in row  3850  :  0
Nan in row  3851  :  0
Nan in row  3852  :  0
Nan in row  3853  :  0
Nan in row  3854  :  0
Nan in row  3855  :  0
Nan in row  3856  :  0
Nan in row  3857  :  0
Nan in row  3858  :  0
Nan in row  3859  :  0
Nan in row  3860  :  0
Nan in row  3861  :  0
Nan in row  3862  :  0
Nan in row  3863  :  0
Nan in row  3864  :  0
Nan in row  3865  :  0
Nan in row  3866  :  0
Nan in row  3867  :  0
Nan in row  3868  :  0
Nan in row  3869  :  0
Nan in row  3870  :  0
Nan in row  3871  :  0
Nan in row  3872  :  0
Nan in row  3873  :  0
Nan in row  3874  :  0
Nan in row  3875  :  0
Nan in row  3876  :  0
Nan in row  3877  :  0
Nan in row  3878  :  0
Nan in row  3879  :  0
Nan in row  3880  :  0
Nan in row  3881  :  0
Nan in row  3882  :  0
Nan in row  3883  :  0
Nan in row  3884  :  0
Nan in row  3885  :  0
Nan in row  3886  :  0
Nan in row  3887  :  0
Nan in row  3888  :  0
Nan in row  3889  :  0
Nan in row  3890  :  0
Nan in row  3891  :  0
Nan in row  3892  :  0
Nan in row  3893  :  0
Nan in row  3894  :  0
Nan in row  3895  :  0
Nan in row  3896  :  0
Nan in row  3897  :  0
Nan in row  3898  :  0
Nan in row  3899  :  0
Nan in row  3900  :  0
Nan in row  3901  :  0
Nan in row  3902  :  0
Nan in row  3903  :  0
Nan in row  3904  :  0
Nan in row  3905  :  0
Nan in row  3906  :  0
Nan in row  3907  :  0
Nan in row  3908  :  0
Nan in row  3909  :  0
Nan in row  3910  :  0
Nan in row  3911  :  0
Nan in row  3912  :  0
Nan in row  3913  :  0
Nan in row  3914  :  0
Nan in row  3915  :  0
Nan in row  3916  :  0
Nan in row  3917  :  0
Nan in row  3918  :  0
Nan in row  3919  :  0
Nan in row  3920  :  0
Nan in row  3921  :  0
Nan in row  3922  :  0
Nan in row  3923  :  0
Nan in row  3924  :  0
Nan in row  3925  :  0
Nan in row  3926  :  0
Nan in row  3927  :  0
Nan in row  3928  :  0
Nan in row  3929  :  0
Nan in row  3930  :  0
Nan in row  3931  :  0
Nan in row  3932  :  0
Nan in row  3933  :  0
Nan in row  3934  :  0
Nan in row  3935  :  0
Nan in row  3936  :  0
Nan in row  3937  :  0
Nan in row  3938  :  0
Nan in row  3939  :  0
Nan in row  3940  :  0
Nan in row  3941  :  0
Nan in row  3942  :  0
Nan in row  3943  :  0
Nan in row  3944  :  0
Nan in row  3945  :  0
Nan in row  3946  :  0
Nan in row  3947  :  0
Nan in row  3948  :  0
Nan in row  3949  :  0
Nan in row  3950  :  0
Nan in row  3951  :  0
Nan in row  3952  :  0
Nan in row  3953  :  0
Nan in row  3954  :  0
Nan in row  3955  :  0
Nan in row  3956  :  0
Nan in row  3957  :  0
Nan in row  3958  :  0
Nan in row  3959  :  0
Nan in row  3960  :  0
Nan in row  3961  :  0
Nan in row  3962  :  0
Nan in row  3963  :  0
Nan in row  3964  :  0

Nan in row  3965  :  0
Nan in row  3966  :  0
Nan in row  3967  :  0
Nan in row  3968  :  0
Nan in row  3969  :  0
Nan in row  3970  :  0
Nan in row  3971  :  0
Nan in row  3972  :  0
Nan in row  3973  :  0
Nan in row  3974  :  0
Nan in row  3975  :  0
Nan in row  3976  :  0
Nan in row  3977  :  0
Nan in row  3978  :  0
Nan in row  3979  :  0
Nan in row  3980  :  0
Nan in row  3981  :  0
Nan in row  3982  :  0
Nan in row  3983  :  0
Nan in row  3984  :  0
Nan in row  3985  :  0
Nan in row  3986  :  0
Nan in row  3987  :  0
Nan in row  3988  :  0
Nan in row  3989  :  0
Nan in row  3990  :  0
Nan in row  3991  :  0
Nan in row  3992  :  0
Nan in row  3993  :  0
Nan in row  3994  :  0
Nan in row  3995  :  0
Nan in row  3996  :  0
Nan in row  3997  :  0
Nan in row  3998  :  0
Nan in row  3999  :  0
Nan in row  4000  :  0
Nan in row  4001  :  0
Nan in row  4002  :  0
Nan in row  4003  :  0
Nan in row  4004  :  0
Nan in row  4005  :  0
Nan in row  4006  :  0
Nan in row  4007  :  0
Nan in row  4008  :  0
Nan in row  4009  :  0
Nan in row  4010  :  0
Nan in row  4011  :  0
Nan in row  4012  :  0
Nan in row  4013  :  0
Nan in row  4014  :  0
Nan in row  4015  :  0
Nan in row  4016  :  0
Nan in row  4017  :  0
Nan in row  4018  :  0
Nan in row  4019  :  0
Nan in row  4020  :  0
Nan in row  4021  :  0
Nan in row  4022  :  0
Nan in row  4023  :  0
Nan in row  4024  :  0
Nan in row  4025  :  0
Nan in row  4026  :  0
Nan in row  4027  :  0
Nan in row  4028  :  0
Nan in row  4029  :  0
Nan in row  4030  :  0
Nan in row  4031  :  0
Nan in row  4032  :  0
Nan in row  4033  :  0
Nan in row  4034  :  0
Nan in row  4035  :  0
Nan in row  4036  :  0
Nan in row  4037  :  0
Nan in row  4038  :  0
Nan in row  4039  :  0
Nan in row  4040  :  0
Nan in row  4041  :  0
Nan in row  4042  :  0
Nan in row  4043  :  0
Nan in row  4044  :  0
Nan in row  4045  :  0
Nan in row  4046  :  0
Nan in row  4047  :  0
Nan in row  4048  :  0
Nan in row  4049  :  0
Nan in row  4050  :  0
Nan in row  4051  :  0
Nan in row  4052  :  0
Nan in row  4053  :  0
Nan in row  4054  :  0
Nan in row  4055  :  0
Nan in row  4056  :  0
Nan in row  4057  :  0
Nan in row  4058  :  0
Nan in row  4059  :  0
Nan in row  4060  :  0
Nan in row  4061  :  0
Nan in row  4062  :  0
Nan in row  4063  :  0
Nan in row  4064  :  0
Nan in row  4065  :  0
Nan in row  4066  :  0
Nan in row  4067  :  0
Nan in row  4068  :  0
Nan in row  4069  :  0
Nan in row  4070  :  0
Nan in row  4071  :  0
Nan in row  4072  :  0
Nan in row  4073  :  0
Nan in row  4074  :  0
Nan in row  4075  :  0
Nan in row  4076  :  0
Nan in row  4077  :  0
Nan in row  4078  :  0
Nan in row  4079  :  0
Nan in row  4080  :  0
Nan in row  4081  :  0
Nan in row  4082  :  0
Nan in row  4083  :  0
Nan in row  4084  :  0
Nan in row  4085  :  0
Nan in row  4086  :  0
Nan in row  4087  :  0
Nan in row  4088  :  0
Nan in row  4089  :  0
Nan in row  4090  :  0
Nan in row  4091  :  0
Nan in row  4092  :  0
Nan in row  4093  :  0
Nan in row  4094  :  0
Nan in row  4095  :  0
Nan in row  4096  :  0
Nan in row  4097  :  0
Nan in row  4098  :  0
Nan in row  4099  :  0
Nan in row  4100  :  0
Nan in row  4101  :  0
Nan in row  4102  :  0
Nan in row  4103  :  0
Nan in row  4104  :  0
Nan in row  4105  :  0
Nan in row  4106  :  0
Nan in row  4107  :  0
Nan in row  4108  :  0
Nan in row  4109  :  0
Nan in row  4110  :  0
Nan in row  4111  :  0
Nan in row  4112  :  0
Nan in row  4113  :  0
Nan in row  4114  :  0
Nan in row  4115  :  0
Nan in row  4116  :  0
Nan in row  4117  :  0
Nan in row  4118  :  0
Nan in row  4119  :  0
Nan in row  4120  :  0
Nan in row  4121  :  0
Nan in row  4122  :  0
Nan in row  4123  :  0
Nan in row  4124  :  0
Nan in row  4125  :  0
Nan in row  4126  :  0
Nan in row  4127  :  0
Nan in row  4128  :  0
Nan in row  4129  :  0
Nan in row  4130  :  0
Nan in row  4131  :  0
Nan in row  4132  :  0
Nan in row  4133  :  0
Nan in row  4134  :  0
Nan in row  4135  :  0
Nan in row  4136  :  0
Nan in row  4137  :  0
Nan in row  4138  :  0
Nan in row  4139  :  0
Nan in row  4140  :  0
Nan in row  4141  :  0
Nan in row  4142  :  0
Nan in row  4143  :  0
Nan in row  4144  :  0
Nan in row  4145  :  0
Nan in row  4146  :  0
Nan in row  4147  :  0
Nan in row  4148  :  0
Nan in row  4149  :  0
Nan in row  4150  :  0
Nan in row  4151  :  0
Nan in row  4152  :  0
Nan in row  4153  :  0
Nan in row  4154  :  0
Nan in row  4155  :  0
Nan in row  4156  :  0
Nan in row  4157  :  0
Nan in row  4158  :  0
Nan in row  4159  :  0
Nan in row  4160  :  0
Nan in row  4161  :  0
Nan in row  4162  :  0
Nan in row  4163  :  0
Nan in row  4164  :  0
Nan in row  4165  :  0
Nan in row  4166  :  0
Nan in row  4167  :  0
Nan in row  4168  :  0
Nan in row  4169  :  0
Nan in row  4170  :  0
Nan in row  4171  :  0
Nan in row  4172  :  0
Nan in row  4173  :  0
Nan in row  4174  :  0
Nan in row  4175  :  0
Nan in row  4176  :  0
Nan in row  4177  :  0
Nan in row  4178  :  0
Nan in row  4179  :  0
Nan in row  4180  :  0
Nan in row  4181  :  0
Nan in row  4182  :  0
Nan in row  4183  :  0
Nan in row  4184  :  0
Nan in row  4185  :  0
Nan in row  4186  :  0
Nan in row  4187  :  0
Nan in row  4188  :  0
Nan in row  4189  :  0
Nan in row  4190  :  0
Nan in row  4191  :  0
Nan in row  4192  :  0
Nan in row  4193  :  0
Nan in row  4194  :  0
Nan in row  4195  :  0
Nan in row  4196  :  0
Nan in row  4197  :  0
Nan in row  4198  :  0
Nan in row  4199  :  0
Nan in row  4200  :  0
Nan in row  4201  :  0
Nan in row  4202  :  0
Nan in row  4203  :  0
Nan in row  4204  :  0
Nan in row  4205  :  0
Nan in row  4206  :  0
Nan in row  4207  :  0
Nan in row  4208  :  0

In [10]:
print("***Count all NaN in a train DataFrame (both columns & Rows)***")
print("Total NaN in Dataframe" , train_data.isnull().sum().sum(), sep='\n')

print("***Count all NaN in a test DataFrame (both columns & Rows)***")
print("Total NaN in Dataframe" , test_data.isnull().sum().sum(), sep='\n')

***Count all NaN in a train DataFrame (both columns & Rows)***
Total NaN in Dataframe
0
***Count all NaN in a test DataFrame (both columns & Rows)***
Total NaN in Dataframe
0

In [11]:
#Check for null and unique values for test and train sets

print("***Count all NaN in a train DataFrame (both columns & Rows)***")
print("Total duplicates in Dataframe" , len(train_data)-len(train_data.drop_duplicates()), sep='\n')

print("***Count all NaN in a Test DataFrame (both columns & Rows)***")
print("Total duplicates in Dataframe" , len(test_data)-len(test_data.drop_duplicates()), sep='\n')

***Count all NaN in a train DataFrame (both columns & Rows)***
Total duplicates in Dataframe
0
***Count all NaN in a Test DataFrame (both columns & Rows)***
Total duplicates in Dataframe
0

In [12]:
missing_df = train_data.isnull().sum(axis=0).reset_index()
missing_df.columns = ['column_name', 'missing_count']
missing_df = missing_df.ix[missing_df['missing_count']>0]
missing_df = missing_df.sort_values(by='missing_count')
missing_df

C:\Users\HOME\Anaconda\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

Empty DataFrame
Columns: [column_name, missing_count]
Index: []

In [13]:
#remove null values and duplicates
train_data.dropna(axis=1,inplace=True)
train_data.drop_duplicates(inplace=True)
test_data.dropna(axis=1,inplace=True)
test_data.drop_duplicates(inplace=True)

In [14]:
train_data.shape

(4209, 378)

In [15]:
test_data.shape

(4209, 377)

In [16]:
# If for any column(s), the variance is equal to zero, then you need to remove those variable(s).
train_var_zero_cols =train_data.loc[:,np.isclose(0, train_data.var())]
#train_data.drop(train_var_zero_cols.columns,axis=1,inplace=True)
test_var_zero_cols =test_data.loc[:,np.isclose(0, test_data.var())]
train_data.drop(test_var_zero_cols.columns,axis=1,inplace=True)
test_data.drop(test_var_zero_cols.columns,axis=1,inplace=True)

In [17]:
#Apply label encoder.

dtype_df = train_data.dtypes.reset_index()
dtype_df.columns = ["Count", "Column Type"]
dtype_df.groupby("Column Type").agg(["count"]).reset_index()

  Column Type Count
              count
0       int64   364
1     float64     1
2      object     8

In [18]:

test_data.shape

(4209, 372)

In [19]:
train_data.shape

(4209, 373)

In [20]:
dtype_df = test_data.dtypes.reset_index()
dtype_df.columns = ["Count", "Column Type"]
dtype_df.groupby("Column Type").agg(["count"]).reset_index()

  Column Type Count
              count
0       int64   364
1      object     8

In [21]:
dtype_df.ix[:10,:]

C:\Users\HOME\Anaconda\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

   Count Column Type
0     ID       int64
1     X0      object
2     X1      object
3     X2      object
4     X3      object
5     X4      object
6     X5      object
7     X6      object
8     X8      object
9    X10       int64
10   X11       int64

In [22]:
print("Train data {}".format(train_data.shape))
print("Test data {}".format(test_data.shape))

Train data (4209, 373)
Test data (4209, 372)

In [23]:
# Find the categorical features, which will need to be converted into dummy features.
dummies = []
for column in train_data.columns:
    if(train_data[column].dtype == np.object):
        dummies.append(column)
print(dummies)

['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

In [24]:
# Add dummy features, remove the original, and remove ID from the dataframe.
for feature in dummies:
    dummy_features = pd.get_dummies(train_data[feature], prefix=feature)
    for dummy in dummy_features:
        train_data[dummy] = dummy_features[dummy]
        test_data[dummy] = dummy_features[dummy]
    train_data = train_data.drop([feature], 1)
    test_data = test_data.drop([feature], 1)

In [25]:
train_data.shape

(4209, 560)

In [26]:
test_data.shape

(4209, 559)

In [27]:
train_data.head(3)

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X8_p,X8_q,X8_r,X8_s,X8_t,X8_u,X8_v,X8_w,X8_x,X8_y
0,0,130.81,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,6,88.53,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7,76.26,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [28]:
test_data.head(3)

,ID,X10,X11,X12,X13,X14,X15,X16,X17,X18,...,X8_p,X8_q,X8_r,X8_s,X8_t,X8_u,X8_v,X8_w,X8_x,X8_y
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [29]:
train_data.drop(["ID"], 1,inplace=True)
test_data.drop(["ID"], 1,inplace=True)

In [30]:
#Test if any categorical 
dtype_df = train_data.dtypes.reset_index()
dtype_df.columns = ["Count", "Column Type"]
dtype_df.groupby("Column Type").agg(["count"]).reset_index()

  Column Type Count
              count
0       uint8   195
1       int64   363
2     float64     1

In [31]:
X_train =  train_data.loc[:, train_data.columns != 'y']
y_train = train_data.loc[:, train_data.columns == 'y']
X_test  =  test_data.loc[:, test_data.columns != 'y']

In [32]:
X_train.shape

(4209, 558)

In [35]:
X_test.shape

(4209, 558)

In [36]:
#Perform dimensionality reduction.

from sklearn.decomposition import PCA

pca = PCA(n_components=2)
X_t_train=pca.fit_transform(X_train)
X_t_test=pca.transform(X_test)

In [37]:
X_t_train

array([[ 0.91352801, -1.80328073],
       [-0.2797717 , -1.17924342],
       [-0.88786284, -2.51661284],
       ...,
       [-1.13192957, -0.32618465],
       [ 0.2269701 , -0.95515953],
       [ 0.80567348, -0.80368042]])

In [38]:
y_train

           y
0     130.81
1      88.53
2      76.26
3      80.62
4      78.02
5      92.93
6     128.76
7      91.91
8     108.67
9     126.99
10    102.09
11     98.12
12     82.62
13     94.12
14     99.15
15     93.64
16    106.10
17    114.13
18     89.81
19     90.81
20     90.56
21     94.57
22    108.14
23    120.77
24     84.84
25     93.59
26    104.07
27     89.37
28     90.08
29    128.19
...      ...
4179   85.93
4180   90.45
4181   90.06
4182   90.38
4183   95.56
4184  109.00
4185  109.64
4186  131.98
4187   98.15
4188  102.33
4189  102.42
4190   89.11
4191   88.93
4192  103.03
4193  107.24
4194   91.13
4195   86.23
4196   99.93
4197   89.25
4198   97.09
4199   88.24
4200  108.59
4201  107.39
4202  123.34
4203   85.71
4204  107.39
4205  108.77
4206  109.22
4207   87.48
4208  110.85

[4209 rows x 1 columns]

In [ ]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import SelectFromModel
model = XGBClassifier(max_depth=3, n_estimators=300, learning_rate=0.05)
model.fit(X_t_train, y_train.values.ravel())

In [ ]:
y_pred = model.predict(X_t_test)
predictions = [round(value) for value in y_pred]
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

In [ ]:
# Fit model using each importance as a threshold
thresholds = sort(model.feature_importances_)
for thresh in thresholds:
	# select features using threshold
	selection = SelectFromModel(model, threshold=thresh, prefit=True)
	select_X_train = selection.transform(X_train)
	# train model
	selection_model = XGBClassifier()
	selection_model.fit(select_X_train, y_train)
	# eval model
	select_X_test = selection.transform(X_test)
	y_pred = selection_model.predict(select_X_test)
	predictions = [round(value) for value in y_pred]
	accuracy = accuracy_score(y_test, predictions)
	print("Thresh=%.3f, n=%d, Accuracy: %.2f%%" % (thresh, select_X_train.shape[1], accuracy*100.0))

In [ ]:
#Predict your test_df values using xgboost
from xgboost import XGBClassifier
from xgboost import plot_importance
from matplotlib import pyplot

# fit model no training data
model = XGBClassifier()
model.fit(X_train, y_train)
# plot feature importance
plot_importance(model)
pyplot.show()

Index(['X1', 'X85', 'X99', 'X225', 'X227', 'X260', 'X281', 'X282', 'X285',
       'X289', 'X322', 'X339'],
      dtype='object')

AttributeError: 'numpy.ndarray' object has no attribute 'loc'